<template>
    <app-layout title="Redemptions">
        <!-- <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Redemptions
            </h2>
        </template> -->

        <div class="py-6">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div v-if="this.$page.props.flash.message !== null" class="alert mb-6 bg-green-200">
                  {{ this.$page.props.flash.message }}
                </div>
                <!-- <a :href="route('createRedemption')">
                  <div class="mb-6 btn hover:bg-green-700 hover:border-green-700 bg-green-600 border-green-600">Create New</div>
                </a>-->
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <div class="flex flex-col">
                      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200">
                              <thead class="bg-gray-50">
                                <tr>
                                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Code
                                  </th>
                                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Name
                                  </th>
                                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Email 
                                  </th>
                                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Reward
                                  </th>
                                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Address
                                  </th>
                                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Status
                                  </th>
                                  <th scope="col" class="relative px-6 py-3">
                                    <span class="sr-only">Edit</span>
                                  </th>
                                </tr>
                              </thead>
                              <tbody class="bg-white divide-y divide-gray-200">
                                <tr v-for="(redemption, redemptionIndex) in JSON.parse(JSON.stringify(this.$page.props.redemptions))" :key="redemption?.id">
                                  <td class="px-6 py-4 whitespace-nowrap">
                                    {{ redemption?.code }}
                                  </td>
                                  <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm font-medium text-gray-900">
                                      {{ redemption?.name }}
                                    </div>
                                  </td>
                                  <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm font-medium text-gray-900">
                                      {{ redemption?.email }}
                                    </div>
                                  </td>
                                  <td class="px-6 py-4 whitespace-nowrap">
                                    <span class="px-2 mb-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-blue-100 text-blue-800">
                                      {{ this.$page.props.giftTypeList.find(i => i.id === redemption?.gift?.gift_type_id)?.title }}
                                    </span>
                                    <div class="text-sm font-medium text-gray-900">
                                      {{ redemption?.gift?.title }}
                                    </div>
                                    <div v-show="redemption?.gift?.gift_type_i !== 1" class="bg-gray-100 flex items-center mt-2">
                                      <div class="flex-shrink-0 h-20 w-20">
                                        <img
                                          class="h-20 w-20"
                                          :src="`${redemption?.redemption_gift_detail?.nft_collection?.stream_path !== '' ? redemption?.redemption_gift_detail?.nft_collection?.stream_path : 'https://ui-avatars.com/api/?name=x'}`"
                                          :alt="redemption?.redemption_gift_detail?.nft_collection?.title !== '' ? redemption?.redemption_gift_detail?.nft_collection?.title : 'Unknown'"
                                        />
                                      </div>
                                      <div class="ml-4">
                                        <div>
                                          <span
                                            class="inline-flex text-xs leading-5 font-semibold rounded-full text-gray-600"
                                          >
                                            {{ redemption?.redemption_gift_detail?.nft_collection?.title }}
                                          </span>
                                        </div>
                                      </div>
                                    </div>
                                  </td>
                                  <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm font-medium text-blue-400 cursor-pointer">
                                      <input type="hidden" :id="`copyToClipboardInput${redemptionIndex}`" :value="redemption?.eth_address" />
                                      <a
                                          data-tooltip-target="tooltip-default"
                                          @click="copyToClipboard(redemptionIndex)"
                                          target="_blank"
                                          class="flex items-center"
                                        >
                                          {{
                                            redemption?.eth_address?.length > 12
                                              ? redemption?.eth_address?.substring(0, 6) +
                                                "..." +
                                                redemption?.eth_address?.substring(
                                                  redemption?.eth_address?.length - 4,
                                                  redemption?.eth_address?.length
                                                )
                                              : redemption?.eth_address
                                          }}
                                          <svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z" />
                                          </svg>
                                        </a>
                                        <div id="tooltip-default" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700">
                                            {{ this.isCopied ? "Copied" : "Copy"  }}
                                            <div class="tooltip-arrow" data-popper-arrow></div>
                                        </div>
                                    </div>
                                  </td>
                                  <td class="px-6 py-4 whitespace-nowrap">
                                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                      {{ redemption?.redemption_status_details[redemption?.redemption_status_details?.length - 1]?.status }}
                                    </span>
                                  </td>
                                  <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium">
                                    <!-- <div>
                                      <a :href="route('showRedemption', redemption?.id)" class="text-blue-600 hover:text-blue-900">View</a>
                                    </div> -->
                                    <div>
                                      <a @click="onOpenUpdateStatusModal(redemption?.id)" class="text-indigo-600 hover:text-indigo-900 cursor-pointer" v-show="redemption?.redemption_status_details[redemption?.redemption_status_details?.length - 1]?.status !== 'completed'">Complete Now</a>
                                    </div>
                                    <!-- <a @click="onDelete(redemption?.id)" href="#" class="text-red-600 hover:text-red-900">Delete</a> -->
                                  </td>
                                </tr>

                                <!-- More people... -->
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Redeem Confirmation Modal -->
        <div
          class="hidden bg-slate-900 bg-opacity-75 overflow-y-auto overflow-x-hidden fixed right-0 left-0 top-4 z-50 justify-center items-center md:inset-0 h-modal sm:h-full"
          id="update-status-popup-modal"
        >
          <div class="relative px-4 w-full max-w-md h-full md:h-auto">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <div class="flex justify-end p-2">
                <button
                  :disabled="updating"
                  type="button"
                  class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
                  data-modal-toggle="update-status-popup-modal"
                >
                  <svg
                    class="w-5 h-5"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </button>
              </div>
              <div class="px-6 pb-4 space-y-6 lg:px-8 sm:pb-6 xl:pb-8">
                <div class="text-md font-medium text-gray-600 dark:text-white">
                  Give redeemer some proof or information regarding the redemption progress
                </div>
                <!-- <div>
                  <label
                    for="Status"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >Status</label
                  >
                  <input
                    v-model="this.updateStatusForm.status"
                    type="status"
                    name="status"
                    id="status"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                    placeholder="Processing"
                    required
                  />
                </div> -->
                <div>
                  <label
                    for="message"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                    >Message</label
                  >
                  <input
                    v-model="this.updateStatusForm.message"
                    type="text"
                    name="message"
                    id="message"
                    placeholder="Thank you for your redemption!"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                    required
                  />
                </div>
                <button
                  @click="onUpdateStatusRedemption"
                  type="submit"
                  :disabled="updating"
                  class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                  <div class="flex justify-center items-center" >
                    <svg v-show="updating" class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                    </svg>
                    <span v-if="!updating">Complete</span>
                    <span v-else>Completing</span>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
    </app-layout>
</template>

<script>
    import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import Welcome from '@/Jetstream/Welcome.vue'
    import axios from 'axios'

    export default defineComponent({
        components: {
            AppLayout,
            Welcome,
        },
        data() {
          return {
            updateStatusForm: this.$inertia.form({
              status: '',
              message: '',
            }),
            updating: false,
            isCopied: false,
            // users: []
          }
        },
        created() {
          // this.users = JSON.parse(JSON.stringify(this.$page.props.users))
          console.log("check props ===> ", JSON.parse(JSON.stringify(this.$page.props)))
        },
        methods: {
          copyToClipboard(index) {
            let copyToClipboardCode = document.querySelector(`#copyToClipboardInput${index}`)
            // let copyToClipboardCode = document.getElementsByName(`clipboard[${index}]`)
            copyToClipboardCode.setAttribute('type', 'text')    // 不是 hidden 才能複製
            copyToClipboardCode.select()

            try {
              var successful = document.execCommand('copy');
              var msg = successful ? 'successful' : 'unsuccessful';
              this.isCopied = true
              setTimeout(() => {
                this.isCopied = false
              }, 3000)
            } catch (err) {
              alert('Oops, unable to copy');
            }

            /* unselect the range */
            copyToClipboardCode.setAttribute('type', 'hidden')
            window.getSelection().removeAllRanges()
          },
          onDelete(id) {
            if (confirm('Are you sure you want to delete this user?')) {
              this.$inertia.delete(`/dashboard/redemptions/${id}`);
            } else {
              //
            }
          },
          onUpdateStatusRedemption() {
            this.updating = true
            // const url = `/dashboard/redemptions/${this.current_selected_id}/update_status`
            // axios.post(url, this.updateStatusForm)
            // .then((response) => {
            //   if (response.data.status === 'success') {
            //     this.updating = false
            //   } else {
            //     console.log("invalid response ===> ", response.data)
            //   }
            // })
            // .catch((error) => {
            //   console.log("error ===> ", error)
            // })
            this.updateStatusForm.post(`/dashboard/redemptions/${this.current_selected_id}/update_status`)
            setTimeout(() => {
              this.updating = false
              toggleModal('update-status-popup-modal', false)
            }, 1000)
          },
          onOpenUpdateStatusModal(id) {
            this.current_selected_id = id
            toggleModal('update-status-popup-modal', true)
          }
        }
    })
</script>
