<template>
    <app-layout title="Create Show">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Create Show
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            	<div class="max-w-2xl mx-auto">
	            	<a :href="route('shows')">
	                  <div class="mb-6 btn">Back to list</div>
	                </a>
	            </div>
                <div class="max-w-2xl mx-auto bg-white shadow-lg rounded-lg p-10">
			        <jet-validation-errors class="mb-4" />

			        <form @submit.prevent="submit">
			            <div>
			                <jet-label for="title" value="Title" />
			                <jet-input id="title" type="text" class="mt-1 block w-full" v-model="this.form.title" required autofocus autocomplete="title" />
			            </div>

                  <!-- <div class="mt-4">
                    <jet-label for="type" value="Type" />
                    <div class="inline-flex mt-2" v-for="(type, typeIndex) in JSON.parse(JSON.stringify(this.$page.props.types))">
                      <div class="form-check">
                        <input @change="onChangeType" v-model="this.form.type" :class="typeIndex === JSON.parse(JSON.stringify(this.$page.props.types)).length - 1 ? `ml-4` : null" class="form-check-input appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-blue-600 checked:border-blue-600 transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" type="radio" name="this.form.type" v-bind:id="type?.id" v-bind:value="type?.id">
                        <label class="form-check-label inline-block text-gray-800" v-bind:for="type?.id">
                          {{ type?.label }}
                        </label>
                      </div>
                    </div>
                  </div> -->

                  <div class="mt-4">
                      <jet-label for="genre" value="Genre" />
                      <select @change="onSelectGenre" v-bind:value="this.form.genre" id="genre" :class="this.form.genre === 0 ? `text-gray-400` : null" class="block mt-1 w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm cursor-pointer" name="genre" v-model="this.form.genre" required>
                        <option value="0">Please Select Genre</option>
                        <option v-for="genre in JSON.parse(JSON.stringify(this.$page.props.genres))" v-bind:value="genre.id">{{ genre.label }}</option>
                      </select>
                  </div>

			            <div class="mt-4">
			                <jet-label for="summary" value="Summary" />
			                <jet-input id="summary" type="text" class="mt-1 block w-full" v-model="this.form.summary" required />
			            </div>

                  <div class="mt-4">
                      <jet-label for="start_date" value="Start Date" />
                      <jet-input id="start_date" type="date" class="mt-1 block w-full" v-model="this.form.start_date" required />
                  </div>

                  <div class="mt-4">
                      <jet-label for="end_date" value="End Date" />
                      <jet-input id="end_date" type="date" class="mt-1 block w-full" v-model="this.form.end_date" required />
                  </div>

                  <div class="mt-4">
                      <jet-label for="seasons" value="Seasons" />
                      <div v-for="(season, seasonIndex) in this.form.seasons" class="inline-flex mt-1 w-full">
                        <div class="w-20">
                          <jet-label for="season_number" value="No" />
                          <jet-input id="season_number" class="w-full" type="text" v-model="this.form.seasons[seasonIndex].season_number" required />
                        </div>
                        <div class="w-full ml-2" >
                          <jet-label for="summary" value="Summary" />
                          <jet-input id="summary" class="w-full" type="text" v-model="this.form.seasons[seasonIndex].summary" required />
                        </div>
                        <button @click="removeSeason(seasonIndex)" v-show="this.form.seasons.length > 1 " type="button" class="items-center mt-5 ml-2 inline-flex justify-center w-20 rounded-md border border-gray-300 shadow-sm bg-white text-sm font-medium text-gray-700 hover:bg-gray-50" id="menu-button" aria-expanded="true" aria-haspopup="true">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 20 20" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6" />
                          </svg>
                        </button>
                        <button @click="addSeason(parseInt(season.season_number) + 1)" type="button" class="items-center mt-5 ml-2 inline-flex justify-center w-20 rounded-md border border-gray-300 shadow-sm bg-white text-sm font-medium text-gray-700 hover:bg-gray-50" id="menu-button" aria-expanded="true" aria-haspopup="true">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 20 20" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                          </svg>
                        </button>
                      </div>
                  </div>

			            <div class="flex items-center justify-end mt-4">
			                <jet-button class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
			                    Create
			                </jet-button>
			            </div>
			        </form>
			    </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import Welcome from '@/Jetstream/Welcome.vue'
    import JetAuthenticationCard from '@/Jetstream/AuthenticationCard.vue'
    import JetAuthenticationCardLogo from '@/Jetstream/AuthenticationCardLogo.vue'
    import JetButton from '@/Jetstream/Button.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetCheckbox from '@/Jetstream/Checkbox.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import JetValidationErrors from '@/Jetstream/ValidationErrors.vue'
    import { Head, Link } from '@inertiajs/inertia-vue3';

    export default defineComponent({
        components: {
            AppLayout,
            Welcome,
            Head,
            JetAuthenticationCard,
            JetAuthenticationCardLogo,
            JetButton,
            JetInput,
            JetCheckbox,
            JetLabel,
            JetValidationErrors,
            Link,
        },
        data() {
          return {
          	form: this.$inertia.form({
                title: 'Budak Jawi',
                summary: 'Seorang bernama Jawi',
                genre: 0,
                seasons: [{ summary: 'Dimana Kamu?', season_number: 1 }],
                start_date: '',
                end_date: '',
            }),
            // genres: []
          }
        },
        created() {
          // this.genres = JSON.parse(JSON.stringify(this.$page.props.genres))
          console.log(" JSON.parse(JSON.stringify(this.$page.props.genres))",  JSON.parse(JSON.stringify(this.$page.props.genres)))
        },
        methods: {
          onSelectGenre(event) {
            console.log("check onSelectGenre ===> ", event.target.value)
            this.form.genre = parseInt(event.target.value)
          },
          submit() {
          	console.log("check form value ===> ", JSON.parse(JSON.stringify(this.form)))
              this.form.post(this.route('storeShow'), {
                  // onFinish: () => this.$inertia.visit(route('users'))
              })
          },
          // onChangeType(event) {
          //   this.form.type = parseInt(event.target.id)
          //   console.log("Check onChangeType ===> ", event.target.value)
          // },
          addSeason(value) {
            this.form.seasons.push({ summary: '', season_number: value })
          },
          removeSeason(index) {
            this.form.seasons.splice(index, 1)
          },
        }
    })
</script>
