<template>
    <app-layout title="Show">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Show
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
				<div v-if="this.$page.props.flash.message !== null" class="alert mb-6 bg-green-200">
                  {{ this.$page.props.flash.message }}
                </div>
                <a :href="route('shows')">
                  <div class="mb-6 mr-2 btn">Back to list</div>
                </a>
                <a :href="route('editShow', this.$page.props.show?.id)">
                  <div class="mb-6 btn hover:bg-orange-700 hover:border-orange-700 bg-orange-600 border-orange-600">Edit Show</div>
                </a>
                <div class="bg-white shadow overflow-hidden sm:rounded-lg">
				  <div class="px-4 py-5 sm:px-6">
				    <h3 class="text-lg leading-6 font-medium text-gray-900">
				      Show Information
				    </h3>
				    <p class="mt-1 max-w-2xl text-sm text-gray-500">
				      created on {{ this.$page.props.show?.created_at }}
				    </p>
				  </div>
				  <div class="border-t border-gray-200">
				    <dl>
				      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
				        <dt class="text-sm font-medium text-gray-500">
				          Title
				        </dt>
				        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
				          {{ this.$page.props.show?.title }}
				        </dd>
				      </div>
				      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
				        <dt class="text-sm font-medium text-gray-500">
				          Genre
				        </dt>
				        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
							{{ this.$page.props.show?.title_genres?.map(genre => genre?.genre_name).join(', ') }}
				        </dd>
				      </div>
				      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
				        <dt class="text-sm font-medium text-gray-500">
							Summary
				        </dt>
				        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
				          {{ this.$page.props.show?.summary }}
				        </dd>
				      </div>
				      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
				        <dt class="text-sm font-medium text-gray-500">
				          Date
				        </dt>
				        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
				          {{ this.$page.props.show?.start_date }} - {{ this.$page.props.show?.end_date }}
				        </dd>
				      </div>
				      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
				        <dt class="text-sm font-medium text-gray-500">
				          Seasons
				        </dt>
				        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
							<div v-for="season in this.$page.props.show?.seasons" :key="season.id" class="mb-4">
								<span class="text-lg">Season {{ season?.season_number }} - {{ season?.summary }}</span>
								<br />
								<span class="text-xs text-gray-400">{{ season?.episodes?.length }} Episodes</span>
								<br />
								<ol v-for="(episode, episodeIndex) in season?.episodes" :key="episode?.id">
									<li>{{ episodeIndex + 1 }}. <a :href="route('showEpisode', episode?.id)"><span class="text-blue-500">{{ episode?.title }}</span></a></li>
								</ol>
								<div class="mt-1">
									<a target="_self" :href="`/admin/episodes/create?show=${this.$page.props.show?.id}&season=${season?.id}`"><span class="text-indigo-500">Add Episode</span></a>
								</div>
							</div>
						</dd>
				      </div>
				    </dl>
				  </div>
				</div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import Welcome from '@/Jetstream/Welcome.vue'
    import moment from 'moment';

    export default defineComponent({
        components: {
            AppLayout,
            Welcome,
        },
        data() {
          return {
            // users: []
          }
        },
        created() {
        //   this.users = JSON.parse(JSON.stringify(this.$page.props.users))
          console.log("check props ===> ", JSON.parse(JSON.stringify(this.$page.props)))
        },
    })
</script>
