<template>
    <app-layout :title="this.$page.props.nft_collection?.title">
        <!-- <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Edit Gift
            </h2>
        </template> -->

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            	<div class="max-w-2xl mx-auto">
	            	<a :href="route('showNftCollection', this.$page.props.nft_collection?.id)">
                  <div class="mb-6 btn">Back</div>
                </a>
	            </div>
                <div class="max-w-2xl mx-auto bg-white shadow-lg rounded-lg p-10">
			        <jet-validation-errors class="mb-4" />

			        <form @submit.prevent="submit" enctype="multipart/form-data">
			            <div>
			                <jet-label for="title" value="Title" />
			                <jet-input id="title" type="text" class="mt-1 block w-full" v-model="this.form.title" required autofocus autocomplete="title" />
			            </div>

			            <div class="mt-4">
			                <jet-label for="remark" value="Description (optional)" />
			                <jet-input id="remark" type="text" class="mt-1 block w-full" v-model="this.form.remark" />
			            </div>

                  <div class="mt-4">
			                <jet-label for="external_url" value="External URL (optional)" />
			                <jet-input id="external_url" type="text" class="mt-1 block w-full" v-model="this.form.external_url" />
			            </div>

			            <div class="mt-4">
			                <jet-label for="marketplace_url" value="Marketplace URL (optional)" />
			                <jet-input id="marketplace_url" type="text" class="mt-1 block w-full" v-model="this.form.marketplace_url" />
			            </div>

                  <div class="mt-4">
                      <jet-label for="amount" value="Amount" />
                      <div class="flex">
                        <select id="currency" class="w-24 mt-1 block w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm cursor-pointer" v-model="this.form.currency" required>
                          <option value="BNB">BNB</option>
                          <option value="ETH">ETH</option>
                        </select>
                        <jet-input id="amount" type="text" class="mt-1 ml-2 block w-full" v-model="this.form.amount" required />
                      </div>
                  </div>

                  <div class="mt-4">
                      <div class="flex justify-between items-center">
                        <jet-label for="poster" value="NFT Poster" />
                        <a v-show="this.form.poster !== ''" class="text-sm cursor-pointer text-blue-500 hover:text-blue-600" v-on:click="this.form.poster = ''">Remove</a>
                      </div>
                      <div v-if="this.form.poster === ''">
                        <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                          <div class="space-y-1 text-center">
                            <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                              <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <div class="flex text-sm text-gray-600">
                              <label for="poster" class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                                <span>Upload a file</span>
                                <input v-on:change="onImageChange" id="poster" name="poster" type="file" class="sr-only">
                              </label>
                              <p class="pl-1">or drag and drop</p>
                            </div>
                            <p class="text-xs text-gray-500">
                              PNG, JPG, GIF up to 10MB
                            </p>
                          </div>
                        </div>
                      </div>
                      <div v-else className="mt-1 relative w-full h-80 bg-white rounded-lg overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
                        <img :src="this.form.poster" class="w-full h-full object-center object-cover" />
                      </div>
                  </div>

			            <div class="flex items-center justify-end mt-4">
			                <jet-button class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
			                    Save
			                </jet-button>
			            </div>
			        </form>
			    </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import Welcome from '@/Jetstream/Welcome.vue'
    import JetAuthenticationCard from '@/Jetstream/AuthenticationCard.vue'
    import JetAuthenticationCardLogo from '@/Jetstream/AuthenticationCardLogo.vue'
    import JetButton from '@/Jetstream/Button.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetCheckbox from '@/Jetstream/Checkbox.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import JetValidationErrors from '@/Jetstream/ValidationErrors.vue'
    import { Head, Link } from '@inertiajs/inertia-vue3';
    import store from '../../store';

    export default defineComponent({
        components: {
            AppLayout,
            Welcome,
            Head,
            JetAuthenticationCard,
            JetAuthenticationCardLogo,
            JetButton,
            JetInput,
            JetCheckbox,
            JetLabel,
            JetValidationErrors,
            Link,
        },
        data() {
          return {
          	form: this.$inertia.form({
                title: this.$page.props.nft_collection?.title,
                remark: this.$page.props.nft_collection?.remark,
                external_url: this.$page.props.nft_collection?.external_url,
                marketplace_url: this.$page.props.nft_collection?.marketplace_url,
                amount: this.$page.props.nft_collection?.amount,
                currency: this.$page.props.nft_collection?.currency,
                poster: this.$page.props.nft_collection?.stream_path,
            }),
          }
        },
        computed: {
         //
        },
        created() {
          // console.log("checkkkk ===> ", this.$page.props.nft_collection?.event_nfts?.map(nft => parseInt(nft?.nft_id)))
          // this.genres = JSON.parse(JSON.stringify(this.$page.props.genres))
          console.log(" JSON.parse(JSON.stringify(this.$page.props))",  JSON.parse(JSON.stringify(this.$page.props)))

          // store.dispatch('getNfts', { eth_address: "0x494fED3a0cCE62501D65C60f67e57E53e16368B6" })
        },
        methods: {
          // onVideoChange(e) {
          //     let files = e.target.files || e.dataTransfer.files;
          //     if (!files.length)
          //         return;
          //     this.createVideo(files[0]);
          // },
          onImageChange(e) {
              let files = e.target.files || e.dataTransfer.files;
              if (!files.length)
                  return;
              this.createImage(files[0]);
          },
          createImage(file) {
              let reader = new FileReader();
              let vm = this;
              reader.onload = (e) => {
                  vm.form.poster = e.target.result;
              };
              reader.readAsDataURL(file);
          },
          // createVideo(file) {
          //     let reader = new FileReader();
          //     let vm = this;
          //     reader.onload = (e) => {
          //         vm.form.transcode_media = e.target.result;
          //     };
          //     reader.readAsDataURL(file);
          // },
          // onSelectGenre(event) {
          //   console.log("check onSelectGenre ===> ", event.target.value)
          //   this.form.genre = parseInt(event.target.value)
          // },
          submit() {
          	console.log("check form value ===> ", JSON.parse(JSON.stringify(this.form)))
              this.form.post(this.route('updateNftCollection', this.$page.props.nft_collection?.id), {
                  // onFinish: () => this.$inertia.visit(route('users'))
              })
          },
          // onSelectAllGifts(gift_ids) {
          //   console.log("check onSelectAllGifts ===> ", gift_ids)
          //   this.form.event_gifts = gift_ids
          // },  
          // onSelectAllNfts(nfts_ids) {
          //   console.log("check onSelectAllNfts ===> ", nfts_ids)
          //   this.form.event_nfts = nfts_ids
          // }  
          // onChangeType(event) {
          //   this.form.type = parseInt(event.target.id)
          //   console.log("Check onChangeType ===> ", event.target.value)
          // },
          // addSeason(value) {
          //   this.form.seasons.push({ summary: '', season_number: value })
          // },
          // removeSeason(index) {
          //   this.form.seasons.splice(index, 1)
          // },
        }
    })
</script>
