<template>
    <app-layout title="Episodes">
      <div class="px-4 md:px-0">
        <div class="max-w-7xl mx-auto py-5 sm:px-6 lg:px-8">
          <div>
            <div class="mt-6 text-2xl">
              Welcome to <b>tuahverse.io</b>
            </div>
            <div class="mt-6 text-md">
              Malaysia's First NFT Animated Series
            </div>
            <div class="mt-6 text-gray-500">
              Laravel Jetstream provides a beautiful, robust starting point for your next Laravel application. Laravel is designed
              to help you build your application using a development environment that is simple, powerful, and enjoyable. We believe
              you should love expressing your creativity through programming, so we have spent time carefully crafting the Laravel
              ecosystem to be a breath of fresh air. We hope you love it.
            </div>
          </div>
        </div>
        <div class="max-w-7xl mx-auto py-5 sm:px-6 lg:px-8">
          <div class="flex justify-between items-end">
            <div class="text-2xl">
              <b>Episodes</b>
            </div>
            <div>
              <a href="#"><div class="text-md text-sky-500 hover:text-sky-600">Browse all</div></a>
            </div>
          </div>
          <div class="mt-6 text-gray-500">
            <div class="grid md:grid-cols-4 gap-5">
              <div v-for="item in shows[0]?.seasons[0]?.episodes" :key="item.id" class="max-w-sm rounded overflow-hidden">
                <img class="aspect-video" v-bind:src="item?.title_posters[0]?.stream_path" v-bind:alt="item?.title">
                <div class="px-0 py-4">
                  <div class="font-bold text-xl mb-2 line-clamp-1">{{ item?.title }}</div>
                  <p class="pb-2 text-gray-400 text-sm">
                    <b>{{ item?.duration }} duration</b>
                  </p>
                  <p class="text-gray-700 text-base line-clamp-3" style="height: 72px;">
                    {{ item?.summary }}
                  </p>
                </div>
                <div class="relative bottom-0 py-4">
                  <a :href="route('singleEpisode', item?.id)" class="flex justify-center px-4 py-2 rounded bg-sky-500 hover:bg-sky-600 text-white hover:text-white"><b>Watch</b></a>
                </div>
              </div>
            </div>
            <!-- <carousel class="flex md:hidden lg:hidden xl:hidden xxl:hidden">
              <slide v-for="item in shows[0]?.seasons[0]?.episodes" :key="item.id">
                <div class="max-w-sm rounded overflow-hidden mr-4">
                  <img class="aspect-video" v-bind:src="item?.title_posters[0]?.stream_path" v-bind:alt="item?.title">
                  <div class="px-0 py-4">
                    <div class="font-bold text-xl mb-2 line-clamp-1">{{ item?.title }}</div>
                    <p class="pb-2 text-gray-400 text-sm">
                      <b>{{ item?.duration }} duration</b>
                    </p>
                    <p class="text-gray-700 text-base line-clamp-3" style="height: 72px;">
                      {{ item?.summary }}
                    </p>
                  </div>
                  <div class="relative bottom-0 py-4">
                    <a :href="route('singleEpisode', item?.id)" class="flex justify-center px-4 py-2 rounded bg-sky-500 hover:bg-sky-600 text-white hover:text-white"><b>Watch</b></a>
                  </div>
                </div>
              </slide>
            </carousel> -->
          </div>
        </div>
      </div>
    </app-layout>
</template>

<script>
    import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import JetApplicationLogo from '@/Jetstream/ApplicationLogo.vue'
    import VideoCardItem from '@/Jetstream/VideoCardItem.vue'
    import store from '../../store';
    import 'vue3-carousel/dist/carousel.css';
    import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';

    export default defineComponent({
        components: {
            AppLayout,
            JetApplicationLogo,
            VideoCardItem,
            Carousel,
            Slide,
            Pagination,
            Navigation,
        },

        computed: {
            nama() {
                return store.state.nama
            },
            count() {
              return store.getters.nftsCount
            },
            nfts() {
              return store.getters.nfts
            },
            shows() {
              return store.getters.shows
            }
        },

        created() {
          store.dispatch('getShows');
          store.dispatch('getNfts', { walletAddress: "0xcfeb26e1e5ef9b62dce2801cae037331418eddaa" });
        }
    })
</script>
