<template>
    <app-layout title="Token">
      <div class="px-4 md:px-0">
        <div class="max-w-7xl mx-auto pt-5 sm:px-6 lg:px-8">
        	<a class="flex items-center text-md" :href="route('tokens')">
	        	<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						  <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M15 19l-7-7 7-7" />
						</svg>
	        	Back to Tokens
	        </a>
        </div>
      	<div v-if="item !== null" class="max-w-7xl mx-auto py-5 sm:px-6 lg:px-8 pb-2 grid md:grid-cols-2">
        	<div>
        		<img v-if="item.mimeType.includes('image')" class="aspect-square rounded" v-bind:src="item.contentUrl" v-bind:alt="item.name">
        		<Video v-else v-bind:src="item.contentUrl" class="object-cover aspect-square rounded" autoplay loop muted />
					</div>
					<div class="md:ml-10 md:mt-0 mt-2">
						<div class="text-md font-bold text-base-300">#{{ $page.props.id }}</div>
						<div class="mt-2 text-3xl font-semibold">{{ item.name }}</div>
						<div class="mt-2">{{ item.description }}</div>
						<div class="mt-4">
							<div class="text-lg font-bold">{{ item.marketplace.price }} BNB</div>
							<div>= ${{ Math.round(item.marketplace.priceUsd * 100) / 100 }}</div>
						</div>
						<div class="mt-4">
							<div v-if="!isAvailable">Be the first owner</div>
							<div v-else>Owned by <b>x02djk...56ja91 (you)</b></div>
						</div>
						<a v-bind:href="`https://app.pentas.io/nft/${item.scTokenId}`" target="_blank" v-if="isAvailable" class="mt-2 btn flex items-center justify-center">
							<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-3 mb-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							  <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
							</svg>
							<span class="font-bold">Buy Now</span>
						</a>
						<div v-else class="mt-2 btn flex items-center justify-center">
							<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-3 mb-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							  <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" />
							</svg>
							<span class="font-bold">Make Offer</span>
						</div>

						<div class="mt-4 collapse w-full border rounded-box border-base-300 collapse-open">
						  <input type="checkbox"> 
						  <div class="collapse-title">
						    <div class="flex items-center text-md font-semibold">
						    	<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 mb-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
									  <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
									</svg>
						    	<span>Locked Content</span>
						    </div>
						    <div class="text-sm">If you own this token, you will get this content unlocked</div>
						  </div> 
						  <div class="collapse-content"> 
						    
								  <div class="w-full">
								  	<div class="grid grid-cols-3 gap-3">
								  		<div>
										  	<img class="rounded aspect-square" src="https://cdn.pentas.io/next-s3-uploads/54c64ccc-1b6b-4c55-8019-f7d01e0a9c93/13-%282%29.jpg" />
										  </div>
										  <div class="col-span-2 px-0 py-0">
										    <div class="font-bold text-xl  line-clamp-2">Budak Jawi Series (20 Episodes)</div>
										    <p class="mt-2 text-gray-700 text-base line-clamp-3">
										      Poster parodi sebagai pengabadian kekal di blockchain bahawa...
										    </p>
										    <div class="mt-2">
										    	<a href="#"><b>More Info</b></a>
										    </div>
										  </div>
										</div>
									</div>

								
						  </div>
						</div> 

        	</div>
        </div>
      </div>
    </app-layout>
</template>

<script>
    import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import JetApplicationLogo from '@/Jetstream/ApplicationLogo.vue'
    import CardItem from '@/Jetstream/CardItem.vue'
    import VideoCardItem from '@/Jetstream/VideoCardItem.vue'
    import store from '../../store';

    export default defineComponent({
        components: {
            AppLayout,
            JetApplicationLogo,
            CardItem,
            VideoCardItem
        },

        computed: {
          item() {
          	return store?.getters?.tempSingleToken;
          },
          isAvailable() {
          	return store?.getters?.tempSingleToken.transactions.length === 1 && store?.getters?.tempSingleToken.transactions[0].transferType === 1
          },
          nfts () {
			return store?.getters?.nfts
			},
        },

        methods: {
        	goToPentas (address) {
        		window.open("https://app.pentas.io/user/" + address, "_blank")
        	}
        },

        created() {
        	store.dispatch('getSingleToken', { id: this.$page.props.id });
        	store.dispatch('getNfts', { walletAddress: "0xcfeb26e1e5ef9b62dce2801cae037331418eddaa" });
        }
    })
</script>
