<template>
    <app-layout title="Tokens">
      <div class="px-4 md:px-0">
        <div class="max-w-7xl mx-auto py-10 sm:px-6 lg:px-8 text-center">
          <div>
        		<img class="mx-auto object-cover w-24 h-24 rounded-full" v-bind:src="ownerProfile.profileImage" />
        	</div>
          <div class="text-center mt-6 text-2xl	">
            <b>{{ ownerProfile.name }}</b>
          </div>
          <div class="w-full md:w-half mx-auto">
            <div class="text-center mt-6 text-gray-500">{{ ownerProfile.bio }}</div>
          </div>
          <div @click="goToPentas(ownerProfile.address)" class="mt-6 btn">
				  	Visit our pentas.io
						<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						  <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1" />
						</svg>
				  </div> 
        </div>
        <div class="max-w-7xl mx-auto py-5 sm:px-6 lg:px-8 md:flex justify-center">
          <div class="flex items-center mr-20">
          	<div class="h-8 w-8 mr-4">
						  <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							  <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z" />
							</svg>
						</div>
					  <div>
					    <div>Total</div>
					    <div><strong>{{ ownerProfile.mintCount }} Tokens</strong></div>
					  </div>
					</div>
					<div class="flex items-center mr-20">
          	<div class="h-8 w-8 mr-4">
						  <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							  <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M5.636 18.364a9 9 0 010-12.728m12.728 0a9 9 0 010 12.728m-9.9-2.829a5 5 0 010-7.07m7.072 0a5 5 0 010 7.07M13 12a1 1 0 11-2 0 1 1 0 012 0z" />
							</svg>
						</div>
					  <div>
					    <div>Availability</div>
					    <div><strong>{{ (ownerProfile.mintCount - ownerProfile.saleCount) === 0 ? "Sold Out" : `${ownerProfile.mintCount - ownerProfile.saleCount} of ${ownerProfile.mintCount} Tokens` }}</strong></div>
					  </div>
					</div>
					<div class="flex items-center mr-20">
          	<div class="h-8 w-8 mr-4">
						  <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							  <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" />
							</svg>
						</div>
					  <div>
					    <div>As low as</div>
					    <div><strong>{{ ownerProfile.floorPrice }} BNB</strong></div>
					  </div>
					</div>
					<div class="flex items-center mr-0">
          	<div class="h-8 w-8 mr-4">
						  <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							  <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
							</svg>
						</div>
					  <div>
					    <div>Owners</div>
					    <div><strong>{{ ownerProfile.uniqueOwners }}</strong></div>
					  </div>
					</div>
        </div>
        <div class="max-w-7xl mx-auto py-5 sm:px-6 lg:px-8 pb-2 flex justify-between items-center md:items-end">
        	<div class="text-2xl font-bold">Minted Tokens</div>
        	<div class="dropdown">
        		<!-- <span class="hidden md:visible">Sort by </span> -->
					  <div tabindex="0" class="m-1 btn">
					  	Latest <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
					  </div> 
						  <ul tabindex="0" class="p-2 shadow menu dropdown-content bg-base-100 rounded-box w-52">
						    <li>
						      <a @click="sortBy('latest')">Latest</a>
						    </li> 
						    <li>
						      <a @click="sortBy('earliest')">Earliest</a>
						    </li> 
						  </ul>
						</div>
        </div>
        <div class="max-w-7xl mx-auto py-5 sm:px-6 lg:px-8">
	        <div class="grid md:grid-cols-3 gap-5">
					  <card-item v-bind:items="ownerNfts" />
					</div>
				</div>
      </div>
    </app-layout>
</template>

<script>
    import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import JetApplicationLogo from '@/Jetstream/ApplicationLogo.vue'
    import CardItem from '@/Jetstream/CardItem.vue'
    import store from '../../store';

    export default defineComponent({
        components: {
            AppLayout,
            JetApplicationLogo,
            CardItem
        },

        computed: {
            ownerProfile() {
              return store.getters.ownerProfile
            },
        		ownerNfts() {
              return store.getters.ownerNfts
            }
        },

        methods: {
        	sortBy (type) {
        		if (type === "latest") {
        			console.log("Check sortBy function ===> ", type)
        			store.commit("sortNfts", type)
        		} else {
        			console.log("Check sortBy function ===> ", type)
        			store.commit("sortNfts", type)
        		}
        	},
        	goToPentas (address) {
        		window.open("https://app.pentas.io/user/" + address, "_blank")
        	}
        },

        created() {
          store.dispatch('getOwnerProfile');
        }
    })
</script>
