<template>
  <app-layout hide="true" hideTitle="true" hideConnectWallet="true" :title="this.$page.props.giveaway?.title">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
      integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ="
      crossorigin="anonymous"
    />
    <div class="profile-banner overflow-hidden">
      <img class="w-full" :src="this.$page.props.giveaway?.stream_path" />
    </div>
    <div class="px-0">
      <div class="px-4 md:px-0 max-w-7xl mx-auto py-2 sm:px-6 lg:px-8">
        <div>
          <!-- <div class="mt-2 text-md">
            #{{ this.$page.props.giveaway?.id }}
            </div> -->
          <div class="mt-1 text-xl">
            <b>{{ this.$page.props.giveaway?.title }}</b>
          </div>
          <div
            v-if="!startDatePassed(this.$page.props.giveaway?.start_date) && !endDatePassed(this.$page.props.giveaway?.end_date)"
            class="mt-1 flex items-center"
          >
            <span class="bg-orange-100 text-orange-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-orange-200 dark:text-orange-900">
              Starting Soon
            </span>
            <span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">{{ formatDate(this.$page.props.giveaway?.start_date) }} to
            {{ formatDate(this.$page.props.giveaway?.end_date) }} ({{
              totalDaysLeft(this.$page.props.giveaway?.start_date, this.$page.props.giveaway?.end_date)
            }}-days event)</span>
            <!-- valid from
            {{ formatDate(this.$page.props.giveaway?.start_date) }} to
            {{ formatDate(this.$page.props.giveaway?.end_date) }} ({{
              totalDaysLeft(currentDate, this.$page.props.giveaway?.end_date)
            }}
            days left) -->
          </div>
          <div v-else-if="startDatePassed(this.$page.props.giveaway?.start_date) && endDatePassed(this.$page.props.giveaway?.end_date)" class="mt-1 flex items-center">
            <span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-900">
              Ended
            </span>
            <span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">{{ formatDate(this.$page.props.giveaway?.start_date) }} to
            {{ formatDate(this.$page.props.giveaway?.end_date) }} ({{
              totalDaysLeft(this.$page.props.giveaway?.start_date, this.$page.props.giveaway?.end_date)
            }}-days event)</span>
            <!-- will be started from
            {{ formatDate(this.$page.props.giveaway?.start_date) }} to
            {{ formatDate(this.$page.props.giveaway?.end_date) }} ({{
              totalDaysLeft(currentDate, this.$page.props.giveaway?.start_date)
            }}
            days to start) -->
          </div>
          <div v-else class="mt-1 flex items-center">
            <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900">
              Active
            </span>
            <span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800">{{ formatDate(this.$page.props.giveaway?.start_date) }} to
            {{ formatDate(this.$page.props.giveaway?.end_date) }} ({{
              totalDaysLeft(currentDate, this.$page.props.giveaway?.end_date)
            }}
             days left)</span>
            <!-- will be started from
            {{ formatDate(this.$page.props.giveaway?.start_date) }} to
            {{ formatDate(this.$page.props.giveaway?.end_date) }} ({{
              totalDaysLeft(currentDate, this.$page.props.giveaway?.start_date)
            }}
            days to start) -->
          </div>
          <div class="mt-4 flex w-full justify-between items-center">
            <div class="flex w-full items-center truncate">
              <div class="flex-shrink-0 h-10 w-10">
                <img
                  class="h-10 w-10 rounded-full"
                  :src="this.$page.props.giveaway?.user?.stream_path"
                  :alt="$page.props.giveaway?.id"
                />
              </div>
              <div class="ml-2">
                <!--<div class="text-md font-medium text-gray-900">
                  {{ item?.name }}
                  </div> -->
                <div class="-mb-1 text-md text-gray-900">
                  <b>{{ this.$page.props.giveaway?.user?.name }}</b>
                </div>
                <div class="text-sm text-gray-400">Creator</div>
              </div>
            </div>
            <div class="w-full">
              <div class="flex justify-end">
                <a
                  target="_blank"
                  :href="`https://app.pentas.io/user/${this.$page.props.giveaway?.user?.eth_address}`"
                >
                  <button
                    type="button"
                    class="text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-500 dark:hover:bg-blue-700 dark:focus:ring-blue-700"
                  >
                    Buy NFT on Pentas.io
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="px-0 md:px-0 max-w-7xl mx-auto py-2 sm:px-6 lg:px-8"
      >
        <div class="border-b border-gray-200 dark:border-gray-700 mb-4">
          <ul
            class="flex overflow-y-scroll md:overflow-auto lg:overflow-auto -mb-px"
            id="myTab"
            data-tabs-toggle="#myTabContent"
            role="tablist"
          >
            <li v-show="this.$page.props.giveaway.type === '2'" class="mr-2" role="presentation">
              <button
                class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300"
                id="profile-tab"
                data-tabs-target="#profile"
                type="button"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
              >
                Holders
              </button>
            </li>
            <li v-show="this.$page.props.giveaway.type === '2'" class="mr-2" role="presentation">
              <button
                class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300"
                id="redeemer-tab"
                data-tabs-target="#redeemer"
                type="button"
                role="tab"
                aria-controls="redeemer"
                aria-selected="false"
              >
                Redeemers
              </button>
            </li>
            <li class="mr-2" role="presentation">
              <button
                v-bind:class="this.$page.props.giveaway.type === '2' ? '' : 'active'"
                class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300"
                id="dashboard-tab"
                data-tabs-target="#dashboard"
                type="button"
                role="tab"
                aria-controls="dashboard"
                aria-selected="true"
              >
                Rewards
              </button>
            </li>
            <li v-show="this.$page.props.giveaway.type === '1'" class="mr-2" role="presentation">
              <button
                class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300"
                id="whitelisted-tab"
                data-tabs-target="#whitelisted"
                type="button"
                role="tab"
                aria-controls="whitelisted"
                aria-selected="false"
              >
                Whitelisted
              </button>
            </li>
            <li class="mr-2" role="presentation">
              <button
                class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300"
                id="settings-tab"
                data-tabs-target="#settings"
                type="button"
                role="tab"
                aria-controls="settings"
                aria-selected="false"
              >
                Description
              </button>
            </li>
            <li role="presentation">
              <button
                class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-400 dark:hover:text-gray-300"
                id="contacts-tab"
                data-tabs-target="#contacts"
                type="button"
                role="tab"
                aria-controls="contacts"
                aria-selected="false"
              >
                Share
              </button>
            </li>
          </ul>
        </div>
        <div id="myTabContent">
          <div
            v-show="this.$page.props.giveaway.type === '2'"
            class="rounded-lg dark:bg-gray-800 hidden"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            <div v-if="startDatePassed(this.$page.props.giveaway?.start_date)" class="max-w-7xl mx-auto">
              <div
                class="px-4 md:px-0 sm:px-6 lg:px-0 flex justify-between items-end"
              >
                <div class="text-md">
                  <b>Current Holders</b>
                </div>
                <div>
                  <div class="text-sm text-gray-500">
                    {{ data?.length }} holders
                  </div>
                </div>
              </div>
              <div class="mt-4 text-gray-500">
                <div class="flex flex-col">
                  <div class="-my-2 overflow-x-auto">
                    <div
                      class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-0"
                    >
                      <div
                        class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
                      >
                        <table class="min-w-full divide-y divide-gray-200">
                          <thead class="bg-gray-50">
                            <tr>
                              <th
                                scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                              >
                                Name
                              </th>
                              <th
                                scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                              >
                                Collections
                              </th>
                              <th
                                scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                              >
                                Value
                              </th>
                              <!-- <th
                                scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                              >
                                Redeem
                              </th> -->
                            </tr>
                          </thead>
                          <tbody class="bg-white divide-y divide-gray-200">
                            <tr v-for="item in data" :key="item.id">
                              <td class="px-6 py-4 whitespace-nowrap">
                                <div class="flex items-center">
                                  <div class="flex-shrink-0 h-10 w-10">
                                    <img
                                      class="h-10 w-10 rounded-full"
                                      :src="`${item?.profileImage !== '' ? item?.profileImage : 'https://ui-avatars.com/api/?name=x'}`"
                                      :alt="item?.name !== '' ? item?.name : 'Unknown'"
                                    />
                                  </div>
                                  <div class="ml-4">
                                    <!--<div class="text-md font-medium text-gray-900">
                                      {{ item?.name }}
                                      </div> -->
                                    <div
                                      class="text-md font-medium text-gray-600 hover:text-sky-600 cursor-pointer"
                                    >
                                      <a
                                        target="_blank"
                                        :href="`https://app.pentas.io/user/${item?.address}`"
                                        >{{ item?.username !== '' ? item?.username : "Unknown" }}</a
                                      >
                                    </div>
                                    <div>
                                      <span
                                        class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-600 hover:text-sky-600 cursor-pointer"
                                      >
                                        <a
                                          target="_blank"
                                          :href="`https://bscscan.com/address/${item?.address}`"
                                        >
                                          {{
                                            item?.address?.length > 12
                                              ? item?.address?.substring(0, 6) +
                                                "..." +
                                                item?.address?.substring(
                                                  item?.address?.length - 4,
                                                  item?.address?.length
                                                )
                                              : item?.address
                                          }}
                                        </a>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </td>
                              <td class="px-6 py-4 whitespace-nowrap">
                                <div class="flex items-center">
                                  <div class="text-md text-slate-900 font-bold mr-2">{{ item?.total_collection }}</div>
                                  <div v-if="parseInt(item?.total_collection) > 1" class="text-xs text-gray-600">NFTs</div>
                                  <div v-else class="text-xs text-gray-600">NFT</div>
                                </div>
                                <a
                                  v-on:click="onSeeNftsModal(item)"
                                  class="text-sm text-sky-500 hover:text-sky-600 cursor-pointer"
                                  >See All</a
                                >
                              </td>
                              <td class="px-6 py-4 whitespace-nowrap">
                                <div class="text-sm text-gray-600">
                                  {{ totalPriceInBnb(item?.collected) }} BNB
                                </div>
                                <div class="text-sm text-gray-400">
                                  ${{ totalPriceInUsd(item?.collected) }}
                                </div>
                              </td>
                              <!-- <td class="px-6 py-4 whitespace-nowrap">
                                <div v-if="!false">
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                  >
                                    <path
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"
                                    />
                                  </svg>
                                </div>
                                <div v-else>
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                  >
                                    <path
                                      strokeLinecap="round"
                                      strokeLinejoin="round"
                                      strokeWidth="{2}"
                                      d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                                    />
                                  </svg>
                                </div>
                              </td> -->
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div v-else class="max-w-7xl mx-auto">
              <div class="flex justify-center items-center bg-white p-4 rounded-lg">
                <div class="text-slate-400 text-md">Information will be showing soon</div>
              </div>
            </div>
          </div>
          <div
            v-show="this.$page.props.giveaway.type === '2'"
            class="rounded-lg dark:bg-gray-800 hidden"
            id="redeemer"
            role="tabpanel"
            aria-labelledby="redeemer-tab"
          >
            <div v-if="startDatePassed(this.$page.props.giveaway?.start_date)" class="max-w-7xl mx-auto">
              <div
                class="px-4 md:px-0 sm:px-6 lg:px-0 flex justify-between items-end"
              >
                <div class="text-md">
                  <b>Current Redeemers</b>
                </div>
                <div>
                  <div class="text-sm text-gray-500">
                    {{ redeemers?.length }} redeemers
                  </div>
                </div>
              </div>
              <div class="mt-4 text-gray-500">
                <div class="flex flex-col">
                  <div class="-my-2 overflow-x-auto">
                    <div
                      class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-0"
                    >
                      <div
                        class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
                      >
                        <table class="min-w-full divide-y divide-gray-200">
                          <thead class="bg-gray-50">
                            <tr>
                              <th
                                scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                              >
                                Name
                              </th>
                              <th
                                scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                              >
                                Reward
                              </th>
                              <th
                                scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                              >
                                
                              </th>
                            </tr>
                          </thead>
                          <tbody class="bg-white divide-y divide-gray-200">
                            <tr v-for="item in redeemers" :key="item.id">
                              <td class="px-6 py-4 whitespace-nowrap">
                                <div class="flex items-center">
                                  <div class="flex-shrink-0 h-10 w-10">
                                    <img
                                      class="h-10 w-10 rounded-full"
                                      :src="`${item?.pentasProfile?.profileImage !== '' ? item?.pentasProfile?.profileImage : 'https://ui-avatars.com/api/?name=x'}`"
                                      :alt="item?.pentasProfile?.name !== '' ? item?.pentasProfile?.name : item?.pentasProfile.address"
                                    />
                                  </div>
                                  <div class="ml-4">
                                    <!--<div class="text-md font-medium text-gray-900">
                                      {{ item?.name }}
                                      </div> -->
                                    <div
                                      class="text-md font-medium text-gray-600 hover:text-sky-600 cursor-pointer"
                                    >
                                      <a
                                        target="_blank"
                                        :href="`https://app.pentas.io/user/${item?.pentasProfile?.address}`"
                                        >{{ item?.pentasProfile?.username !== '' ? item?.pentasProfile?.username : "Unknown" }}</a
                                      >
                                    </div>
                                    <div>
                                      <span
                                        class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-600 hover:text-sky-600 cursor-pointer"
                                      >
                                        <a
                                          target="_blank"
                                          :href="`https://bscscan.com/address/${item?.pentasProfile?.address}`"
                                        >
                                          {{
                                            item?.pentasProfile?.address?.length > 12
                                              ? item?.pentasProfile?.address?.substring(0, 6) +
                                                "..." +
                                                item?.pentasProfile?.address?.substring(
                                                  item?.pentasProfile?.address?.length - 4,
                                                  item?.pentasProfile?.address?.length
                                                )
                                              : item?.pentasProfile?.address
                                          }}
                                        </a>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </td>
                              <td class="px-6 py-4 whitespace-nowrap">
                                <div class="text-sm text-gray-500">
                                  {{ item?.gift?.title }}
                                </div>
                              </td>
                              <td class="px-6 py-4 whitespace-nowrap">
                                <div class="text-sm text-gray-500">
                                  {{ timeAgoFormat(item?.created_at)  }}
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div v-else class="max-w-7xl mx-auto">
              <div class="flex justify-center items-center bg-white p-4 rounded-lg">
                <div class="text-slate-400 text-md">Information will be showing soon</div>
              </div>
            </div>
          </div>
          <div
            class="px-4 md:px-0 sm:px-6 lg:px-0 dark:bg-gray-800"
            id="dashboard"
            role="tabpanel"
            aria-labelledby="dashboard-tab"
          >
            <div class="grid grid-cols md:grid-cols-3 gap-4">
              <div
                v-for="item in this.$page.props.giveaway?.event_gifts"
                :key="item?.id"
                class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700"
              >
                <!-- <img class="rounded-t-lg" :src="item?.gift?.image_url" alt="" /> -->
                <img
                  class="rounded-t-lg aspect-square"
                  :src="item?.gift?.stream_path"
                />
                <div class="p-5">
                  <h5
                    class="mb-1 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
                  >
                    {{ item?.gift?.title }}
                  </h5>
                  <p class="mb-2 font-normal text-gray-700 dark:text-gray-400">
                    {{ item?.gift?.remark }}
                  </p>
                  <div>
                    <p v-if="item?.gift?.gift_type_id === 1" class="mb-3 text-sm text-gray-700 dark:text-gray-400">
                      worth <b> ${{ item?.gift?.amount }}</b>
                    </p>
                    <p v-else-if="item?.gift?.gift_type_id === 2" class="mb-3 text-sm text-gray-700 dark:text-gray-400">
                      worth <b> BNB {{ item?.gift?.nft_collection?.amount }}</b>
                    </p>
                    <p v-else-if="item?.gift?.gift_type_id === 3" class="mb-3 text-sm text-gray-700 dark:text-gray-400">
                      worth <b> BNB {{item?.gift?.nft_collection_group?.nft_collections.sort((a,b) => parseFloat(a.amount) - parseFloat(b.amount))[0].amount }} - {{item?.gift?.nft_collection_group?.nft_collections.sort((a,b) => parseFloat(a.amount) - parseFloat(b.amount))[item?.gift?.nft_collection_group?.nft_collections.sort((a,b) => parseFloat(a.amount) - parseFloat(b.amount)).length - 1].amount}}</b>
                    </p>
                  </div>
                  <a
                    v-show="startDatePassed(this.$page.props.giveaway?.start_date) && !endDatePassed(this.$page.props.giveaway?.end_date)"
                    @click="redeemUsingWeb3(item?.gift?.id)"
                    class="justify-center w-full inline-flex items-center mb-1 py-2 px-3 text-sm font-medium text-center text-white bg-blue-500 rounded-lg hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 dark:bg-blue-500 dark:hover:bg-blue-700 dark:focus:ring-blue-700 cursor-pointer"
                  >
                    Redeem Now
                    <!-- <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg> -->
                  </a>
                  <a
                    v-if="item?.gift?.gift_type_id === 2"
                    @click="redeemUsingWeb3(item?.gift?.id)"
                    class="justify-center w-full inline-flex items-center py-2 px-3 text-sm font-medium text-center text-sky-500 cursor-pointer"
                  >
                    See NFT
                    <!-- <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg> -->
                  </a>
                  <a
                    v-else-if="item?.gift?.gift_type_id === 3"
                    @click="onClickSeeCollection(item?.gift?.id)"
                    class="justify-center w-full inline-flex items-center py-2 px-3 text-sm font-medium text-center text-sky-500 cursor-pointer"
                  >
                    See Details
                    <!-- <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg> -->
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="px-4 md:px-0 sm:px-6 lg:px-0 dark:bg-gray-800 hidden"
            id="whitelisted"
            role="tabpanel"
            aria-labelledby="whitelisted-tab"
          >
            <div
                class="mb-3 px-0 flex justify-between items-end"
              >
              <div class="text-sm">
                <b>Whitelisted Addresses</b>
              </div>
              <div>
                <div class="text-sm text-gray-500">
                  {{ this.$page.props.giveaway?.event_custom_addresses?.length }} addresses
                </div>
              </div>
            </div>
            <div
                class="shadow overflow-scroll border-b border-gray-200 sm:rounded-lg"
              >
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="bg-gray-50">
                    <tr>
                      <th
                        scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                      >
                        No
                      </th>
                      <th
                        scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                      >
                        Address
                      </th>
                      <!-- <th
                        scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                      >
                        Status
                      </th> -->
                      <!-- <th
                        scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                      >
                        Value
                      </th> -->
                      <!-- <th
                        scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                      >
                        Redeem
                      </th> -->
                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200">
                    <tr v-for="(item, index) in this.$page.props.giveaway?.event_custom_addresses" :key="item.id">
                      <td class="w-10 px-6 py-2 whitespace-nowrap">
                        <div class="text-gray-600">
                          {{ index + 1 }}  
                        </div>
                      </td>
                      <td class="px-6 py-2 whitespace-nowrap">
                        <div class="flex items-center">
                          <a
                            class="text-sky-500 cursor-pointer"
                            target="_blank"
                            :href="`https://bscscan.com/address/${item?.address}`"
                          >
                            {{
                              item?.address?.length > 12
                                ? item?.address?.substring(0, 6) +
                                  "..." +
                                  item?.address?.substring(
                                    item?.address?.length - 4,
                                    item?.address?.length
                                  )
                              : item?.address
                            }}
                          </a>
                        </div>
                      </td>
                      <!-- <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                          <div v-if="this.$page.props.giveaway?.redemptions?.find(i => i?.redemption_gift_detail?.nft_collection_id === item?.id)" class="text-xs text-gray-600">
                            Redeemed by 
                            <a
                              class="text-sky-500 cursor-pointer"
                              target="_blank"
                              :href="`https://bscscan.com/address/${this.$page.props.giveaway?.redemptions?.find(i => i?.redemption_gift_detail?.nft_collection_id === item?.id)?.eth_address}`"
                            >
                              {{
                                this.$page.props.giveaway?.redemptions?.find(i => i?.redemption_gift_detail?.nft_collection_id === item?.id)?.eth_address?.length > 12
                                  ? this.$page.props.giveaway?.redemptions?.find(i => i?.redemption_gift_detail?.nft_collection_id === item?.id)?.eth_address?.substring(0, 6) +
                                    "..." +
                                    this.$page.props.giveaway?.redemptions?.find(i => i?.redemption_gift_detail?.nft_collection_id === item?.id)?.eth_address?.substring(
                                      this.$page.props.giveaway?.redemptions?.find(i => i?.redemption_gift_detail?.nft_collection_id === item?.id)?.eth_address?.length - 4,
                                      this.$page.props.giveaway?.redemptions?.find(i => i?.redemption_gift_detail?.nft_collection_id === item?.id)?.eth_address?.length
                                    )
                                : this.$page.props.giveaway?.redemptions?.find(i => i?.redemption_gift_detail?.nft_collection_id === item?.id)?.eth_address
                              }}
                            </a>
                          </div>
                          <div v-else class="px-3 bg-green-200 text-xs text-green-900 rounded-full">
                            Available
                          </div>
                        </div>
                      </td> -->
                      <!-- <td class="px-6 py-4 whitespace-nowrap">
                        <div class="text-sm text-gray-600">
                          {{ totalPriceInBnb(item?.collected) }} BNB
                        </div>
                        <div class="text-sm text-gray-400">
                          ${{ totalPriceInUsd(item?.collected) }}
                        </div>
                      </td> -->
                      <!-- <td class="px-6 py-4 whitespace-nowrap">
                        <div v-if="!false">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"
                            />
                          </svg>
                        </div>
                        <div v-else>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                          >
                            <path
                              strokeLinecap="round"
                              strokeLinejoin="round"
                              strokeWidth="{2}"
                              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                            />
                          </svg>
                        </div>
                      </td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
          </div>
          <div
            class="bg-white px-4 md:px-0 sm:px-6 lg:px-8 py-4 dark:bg-gray-800 hidden"
            id="settings"
            role="tabpanel"
            aria-labelledby="settings-tab"
          >
            <div>
              <p class="text-sm text-gray-700 dark:text-gray-400">
                {{ this.$page.props.giveaway?.remark }}
              </p>
            </div>
          </div>
          <div
            class="px-4 md:px-0 sm:px-6 lg:px-0 dark:bg-gray-800 hidden"
            id="contacts"
            role="tabpanel"
            aria-labelledby="contacts-tab"
          >
            <div class="share-network-list">
              <ShareNetwork
                v-for="network in networks"
                :network="network.network"
                :key="network.network"
                :style="{ backgroundColor: network.color }"
                :url="`https://tuah.io/${this.$page.props.giveaway?.user?.subdomain}/g/${this.$page.props.giveaway?.id}`"
                :title="`Join ${this.$page.props.giveaway?.title} now!`"
                :quote="`Created by ${this.$page.props.giveaway?.user?.name}`"
                :description="this.$page.props.giveaway?.remark"
                :hashtags="`${this.$page.props.giveaway?.user?.subdomain}giveaway,tuahio,pentasian`"
                :twitterUser="`tuah_io`"
              >
                <i :class="network.icon"></i>
                <span>{{ network.name }}</span>
              </ShareNetwork>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="mt-4 flex-1 mx-auto px-4 md:px-0 max-w-7xl sm:px-6 lg:px-8" v-else>
        <div class="flex justify-center items-center bg-white p-4 rounded-lg">
          <div>Information will be showing soon..</div>
        </div>
      </div> -->
    </div>
    <!-- Modal --->
    <div
      id="default-modal"
      aria-hidden="true"
      class="hidden overflow-y-auto bg-slate-900 bg-opacity-75 overflow-x-hidden fixed right-0 left-0 top-0 pt-4 h-full z-50 justify-center items-center md:inset-0  sm:h-full"
    >
      <div class="relative px-4 w-full max-w-2xl h-full">
        <!-- Modal content -->
        <div class="mt-4 relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div
            class="flex justify-between items-start p-5 rounded-t border-b dark:border-gray-600"
          >
            <h3
              class="text-md font-semibold text-gray-900 lg:text-xl dark:text-white"
            >
              NFTs owned by <b>{{ modalData?.username }}</b>
            </h3>
            <button
              type="button"
              class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
              data-modal-toggle="default-modal"
            >
              <svg
                class="w-5 h-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
          </div>
          <!-- Modal body -->
          <div class="p-6 space-y-6">
            <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
              <div
                v-for="item in modalData?.collected"
                :key="item?.id"
                class="max-w-sm bg-white rounded-lg shadow-md dark:bg-gray-800"
              >
                <a
                  target="_blank"
                  :href="`https://app.pentas.io/nft/${item?.scTokenId}`"
                >
                  <img v-if="item?.mimeType.includes('image')" class="aspect-square rounded" v-bind:src="item?.contentUrl" v-bind:alt="item?.name">
        		      <Video v-else v-bind:src="`${item?.contentUrl}#t=0.1`" class="object-cover aspect-square rounded" muted />
                  <!-- <img
                    class="w-full rounded-t-lg"
                    :src="item?.contentUrl"
                    :alt="item?.name"
                  /> -->
                  <div class="p-2">
                    <h5
                      class="mb-0 text-md font-bold tracking-tight text-gray-900 dark:text-white"
                    >
                      {{ item?.name }}
                    </h5>
                    <!-- <span
                      class="mb-0 text-sm font-small tracking-tight text-gray-600 dark:text-white"
                      >{{
                        timeAgoFormat(
                          item?.transactions?.filter(
                            (t) => t.newOwner === item?.owner
                          )[
                            item?.transactions?.filter(
                              (t) => t.newOwner === item?.owner
                            )?.length - 1
                          ].created
                        )
                      }}</span
                    > -->
                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- Modal footer -->
          <!-- <div class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
            <button data-modal-toggle="default-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I accept</button>
            <button data-modal-toggle="default-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600">Decline</button>
            </div> -->
        </div>
      </div>
    </div>
    <!-- See Collection Modal  -->
    <!-- Modal --->
    <div
      id="see-collection-popup-modal"
      aria-hidden="true"
      class="hidden overflow-y-auto bg-slate-900 bg-opacity-75 overflow-x-hidden fixed right-0 left-0 top-0 pt-4 h-full z-50 justify-center items-center md:inset-0  sm:h-full"
    >
      <div class="relative px-4 w-full max-w-2xl h-full">
        <!-- Modal content -->
        <div class="mt-4 relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div
            class="flex justify-between items-start p-5 rounded-t border-b dark:border-gray-600"
          >
            <h3
              class="text-md font-semibold text-gray-900 lg:text-xl dark:text-white"
            >
              Reward Details
            </h3>
            <button
              type="button"
              class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
              data-modal-toggle="see-collection-popup-modal"
            >
              <svg
                class="w-5 h-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
          </div>
          <!-- Modal body -->
          <div class="p-6 space-y-6">
            <div class="grid grid-cols-2 md:grid-cols-2 gap-4">
              <div class="shadow-lg rounded-2xl w-full p-4 bg-white dark:bg-gray-800">
                <div class="flex items-center">
                  <p class="text-sm text-gray-700 dark:text-gray-50">
                      Available NFTs
                  </p>
                </div>
                <div class="flex items-center">
                  <p class="text-md font-bold text-gray-700 dark:text-gray-50">
                      {{ parseInt(this.$page.props.giveaway?.event_gifts?.find(i => i?.gift_id === this.selected_gift_id)?.gift?.nft_collection_group?.nft_collections?.length) - parseInt(this.$page.props.giveaway?.redemptions?.length) }} of {{ this.$page.props.giveaway?.event_gifts?.find(i => i?.gift_id === this.selected_gift_id)?.gift?.nft_collection_group?.nft_collections?.length }}
                  </p>
                </div>
              </div>
              <div class="shadow-lg rounded-2xl w-full p-4 bg-white dark:bg-gray-800">
                <div class="flex items-center">
                  <p class="text-sm text-gray-700 dark:text-gray-50">
                      Max Redemption
                  </p>
                </div>
                <div class="flex items-center">
                  <p class="text-md font-bold text-gray-700 dark:text-gray-50">
                      1 per wallet
                  </p>
                </div>
              </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-1">
              <div
                class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg"
              >
                <table class="overflow-scroll min-w-full divide-y divide-gray-200">
                  <thead class="bg-gray-50">
                    <tr>
                      <th
                        scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                      >
                        NFT
                      </th>
                      <!-- <th
                        scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                      >
                        Status
                      </th> -->
                      <!-- <th
                        scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                      >
                        Value
                      </th> -->
                      <!-- <th
                        scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                      >
                        Redeem
                      </th> -->
                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200">
                    <tr v-for="item in this.$page.props.giveaway?.event_gifts?.find(i => i?.gift_id === this.selected_gift_id)?.gift?.nft_collection_group?.nft_collections" :key="item.id">
                      <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                          <div class="flex-shrink-0 h-24 w-24">
                            <img
                              class="h-24 w-24"
                              :src="`${item?.stream_path !== '' ? item?.stream_path : 'https://ui-avatars.com/api/?name=x'}`"
                              :alt="item?.title !== '' ? item?.title : 'Unknown'"
                            />
                          </div>
                          <div class="ml-4">
                            <div>
                              <span
                                class="inline-flex text-xs leading-5 font-semibold rounded-full text-gray-600"
                              >
                                {{ item?.title }}
                              </span>
                            </div>
                            <div>
                              <span
                                class="inline-flex text-xs leading-5 font-semibold rounded-full text-gray-600"
                              >
                                {{ item?.currency }} {{ item?.amount }}
                              </span>
                            </div>
                            <div class="flex items-center mt-1">
                              <div v-if="this.$page.props.giveaway?.redemptions?.find(i => i?.redemption_gift_detail?.nft_collection_id === item?.id)" class="text-xs text-gray-900">
                                Redeemed by 
                                <a
                                  class="text-sky-500 cursor-pointer"
                                  target="_blank"
                                  :href="`https://bscscan.com/address/${this.$page.props.giveaway?.redemptions?.find(i => i?.redemption_gift_detail?.nft_collection_id === item?.id)?.eth_address}`"
                                >
                                  {{
                                    this.$page.props.giveaway?.redemptions?.find(i => i?.redemption_gift_detail?.nft_collection_id === item?.id)?.eth_address?.length > 12
                                      ? this.$page.props.giveaway?.redemptions?.find(i => i?.redemption_gift_detail?.nft_collection_id === item?.id)?.eth_address?.substring(0, 6) +
                                        "..." +
                                        this.$page.props.giveaway?.redemptions?.find(i => i?.redemption_gift_detail?.nft_collection_id === item?.id)?.eth_address?.substring(
                                          this.$page.props.giveaway?.redemptions?.find(i => i?.redemption_gift_detail?.nft_collection_id === item?.id)?.eth_address?.length - 4,
                                          this.$page.props.giveaway?.redemptions?.find(i => i?.redemption_gift_detail?.nft_collection_id === item?.id)?.eth_address?.length
                                        )
                                    : this.$page.props.giveaway?.redemptions?.find(i => i?.redemption_gift_detail?.nft_collection_id === item?.id)?.eth_address
                                  }}
                                </a>
                              </div>
                              <div v-else class="text-xs text-green-500">
                                Available
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                      <!-- <td class="px-6 py-4 whitespace-nowrap">
                        <div class="flex items-center">
                          <div v-if="this.$page.props.giveaway?.redemptions?.find(i => i?.redemption_gift_detail?.nft_collection_id === item?.id)" class="text-xs text-gray-600">
                            Redeemed by 
                            <a
                              class="text-sky-500 cursor-pointer"
                              target="_blank"
                              :href="`https://bscscan.com/address/${this.$page.props.giveaway?.redemptions?.find(i => i?.redemption_gift_detail?.nft_collection_id === item?.id)?.eth_address}`"
                            >
                              {{
                                this.$page.props.giveaway?.redemptions?.find(i => i?.redemption_gift_detail?.nft_collection_id === item?.id)?.eth_address?.length > 12
                                  ? this.$page.props.giveaway?.redemptions?.find(i => i?.redemption_gift_detail?.nft_collection_id === item?.id)?.eth_address?.substring(0, 6) +
                                    "..." +
                                    this.$page.props.giveaway?.redemptions?.find(i => i?.redemption_gift_detail?.nft_collection_id === item?.id)?.eth_address?.substring(
                                      this.$page.props.giveaway?.redemptions?.find(i => i?.redemption_gift_detail?.nft_collection_id === item?.id)?.eth_address?.length - 4,
                                      this.$page.props.giveaway?.redemptions?.find(i => i?.redemption_gift_detail?.nft_collection_id === item?.id)?.eth_address?.length
                                    )
                                : this.$page.props.giveaway?.redemptions?.find(i => i?.redemption_gift_detail?.nft_collection_id === item?.id)?.eth_address
                              }}
                            </a>
                          </div>
                          <div v-else class="px-3 bg-green-200 text-xs text-green-900 rounded-full">
                            Available
                          </div>
                        </div>
                      </td> -->
                      <!-- <td class="px-6 py-4 whitespace-nowrap">
                        <div class="text-sm text-gray-600">
                          {{ totalPriceInBnb(item?.collected) }} BNB
                        </div>
                        <div class="text-sm text-gray-400">
                          ${{ totalPriceInUsd(item?.collected) }}
                        </div>
                      </td> -->
                      <!-- <td class="px-6 py-4 whitespace-nowrap">
                        <div v-if="!false">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z"
                            />
                          </svg>
                        </div>
                        <div v-else>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                          >
                            <path
                              strokeLinecap="round"
                              strokeLinejoin="round"
                              strokeWidth="{2}"
                              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                            />
                          </svg>
                        </div>
                      </td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- Modal footer -->
          <!-- <div class="flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600">
            <button data-modal-toggle="see-collection-popup-modal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I accept</button>
            <button data-modal-toggle="see-collection-popup-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600">Decline</button>
            </div> -->
        </div>
      </div>
    </div>
    <!-- Redeem Confirmation Modal -->
    <div
      class="hidden overflow-y-auto bg-slate-900 bg-opacity-75 overflow-x-hidden fixed right-0 left-0 top-0 pt-4 h-full z-50 justify-center items-center md:inset-0  sm:h-full"
      id="redeem-confirmation-popup-modal"
    >
      <div class="relative px-4 w-full max-w-md h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <div class="flex justify-end p-2">
            <button
              :disabled="redeeming"
              type="button"
              class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
              data-modal-toggle="redeem-confirmation-popup-modal"
            >
              <svg
                class="w-5 h-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
          </div>
          <div class="px-6 pb-4 space-y-6 lg:px-8 sm:pb-6 xl:pb-8">
            <div class="text-md font-medium text-gray-600 dark:text-white">
              Fill up the required details to complete the redemption
            </div>
            <!-- <div>
              <label
                for="twitter"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                >Twitter Username</label
              >
              <input
                v-model="this.form.twitter"
                type="twitter"
                name="twitter"
                id="twitter"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                placeholder="@twitter_username"
                required
              />
            </div> -->
            <div>
              <label
                for="email"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                >Email</label
              >
              <input
                v-model="this.form.email"
                type="email"
                name="email"
                id="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                placeholder="johndoe@company.com"
                required
              />
            </div>
            <div>
              <label
                for="Name"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                >Name</label
              >
              <input
                v-model="this.form.name"
                type="text"
                name="name"
                id="name"
                placeholder="John Doe"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                required
              />
            </div>
            <div class="flex justify-between">
                <a href="#" class="text-sm text-blue-700 hover:underline dark:text-blue-500">Why we ask these information?</a>
            </div>
            <button
              @click="onRedeem"
              type="submit"
              :disabled="redeeming"
              class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              <div class="flex justify-center items-center" >
                <svg v-show="redeeming" class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                  <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
                <span>Redeem<span v-show="redeeming">ing...</span></span>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Redeem Confirmation Modal -->
    <div
      class="hidden overflow-y-auto bg-slate-900 bg-opacity-75 overflow-x-hidden fixed right-0 left-0 top-0 pt-4 h-full z-50 justify-center items-center md:inset-0  sm:h-full"
      id="custom-fields-popup-modal"
    >
      <div class="relative px-4 w-full max-w-md h-full md:h-auto">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <div class="flex justify-end p-2">
            <button
              :disabled="completing"
              type="button"
              class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
              data-modal-toggle="custom-fields-popup-modal"
            >
              <svg
                class="w-5 h-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
          </div>
          <div class="px-6 pb-4 space-y-6 lg:px-8 sm:pb-6 xl:pb-8">
            <div class="text-md font-medium text-gray-600 dark:text-white">
              Gift "{{ this.$page.props.giveaway?.event_gifts?.find(x => x.gift_id === this.selected_gift_id)?.gift?.title }}" requires you to complete details below.
            </div>
            <form>
              <div v-for="(custom_field, custom_field_index) in this.form.custom_fields" :key="custom_field_index" class="mb-2">
                <label
                  v-bind:for="custom_field?.name"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                  >{{ custom_field?.name }}</label
                >
                <input
                  v-model="this.form.custom_fields[custom_field_index].value"
                  v-bind:type="custom_field?.type"
                  v-bind:name="custom_field?.name"
                  v-bind:id="custom_field?.name"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                  v-bind:placeholder="custom_field?.name"
                  required
                />
              </div>
            </form>
            <div class="flex justify-between">
                <a href="#" class="text-sm text-blue-700 hover:underline dark:text-blue-500">Why we ask these information?</a>
            </div>
            <button
              @click="onRedeemWithCustomFields"
              type="submit"
              :disabled="completing"
              class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              <div class="flex justify-center items-center" >
                <svg v-show="completing" class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                  <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
                <span v-if="!completing">Complete</span>
                <span v-else>Completing</span>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="hidden overflow-y-auto bg-slate-900 bg-opacity-75 overflow-x-hidden fixed right-0 left-0 top-0 pt-4 h-full z-50 justify-center items-center md:inset-0  sm:h-full" id="redeem-status-popup-modal">
      <div class="relative px-4 w-full max-w-md h-full md:h-auto">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <!-- Modal header -->
              <div class="flex justify-end p-2">
                  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="redeem-status-popup-modal">
                      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                  </button>
              </div>
              <!-- Modal body -->
              <div class="p-6 pt-0 text-center">
                  <svg v-show="this.redemptionData?.gift?.gift_type_id === 1" xmlns="http://www.w3.org/2000/svg" class="mx-auto mb-4 w-14 h-14 text-gray-400 dark:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
                  <img class="w-full mb-4" :src="this.redemptionData?.gift?.gift_type_id === 1 ? this.redemptionData?.gift?.stream_path : this.redemptionData?.redemption_gift_detail?.nft_collection?.stream_path" />
                  <h3 class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">Congratulations!</h3>
                  <h3 v-if="this.redemptionData?.gift?.gift_type_id === 1" class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Your redemption is success. Please check your email for updates</h3>
                  <h3 v-else class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">You got <b>{{ this.redemptionData?.redemption_gift_detail?.nft_collection?.title }}</b>. Please check your email for updates</h3>
                  <button data-modal-toggle="redeem-status-popup-modal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-gray-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600">Close</button>
              </div>
          </div>
      </div>
    </div>

  </app-layout>
</template>
<script>
import { defineComponent } from "vue";
import AppLayout from "@/Layouts/AppLayout.vue";
import JetApplicationLogo from "@/Jetstream/ApplicationLogo.vue";
import VideoCardItem from "@/Jetstream/VideoCardItem.vue";
import store from "../../../store";
import "vue3-carousel/dist/carousel.css";
import { Carousel, Slide, Pagination, Navigation } from "vue3-carousel";
import moment from "moment";
import Web3 from "web3/dist/web3.min.js";
import { Head, Link, useForm } from "@inertiajs/inertia-vue3";
import axios from "axios";

export default defineComponent({
  components: {
    AppLayout,
    JetApplicationLogo,
    VideoCardItem,
    Carousel,
    Slide,
    Pagination,
    Navigation,
  },

  data() {
    return {
      data: [],
      redeemers: [],
      redemptionData: null,
      form: {
        twitter: '',
        name: '',
        email: '',
        custom_fields: [],
      },
      web3Params: null,
      redemption_id: '',
      selected_gift_id: null,
      redeeming: false,
      completing: false,
      modal: null,
      sharing: {
        url: "https://news.vuejs.org/issues/180",
        title:
          "Say hi to Vite! A brand new, extremely fast development setup for Vue.",
        description:
          'This week, I’d like to introduce you to "Vite", which means "Fast". It’s a brand new development setup created by Evan You.',
        quote: "The hot reload is so fast it's near instant. - Evan You",
        hashtags: "vuejs,vite,javascript",
        twitterUser: "youyuxi",
      },
      networks: [
        {
          network: "facebook",
          name: "Facebook",
          icon: "fab fah fa-lg fa-facebook-f",
          color: "#1877f2",
        },
        {
          network: "telegram",
          name: "Telegram",
          icon: "fab fah fa-lg fa-telegram-plane",
          color: "#0088cc",
        },
        // {
        //   network: "messenger",
        //   name: "Messenger",
        //   icon: "fab fah fa-lg fa-facebook-messenger",
        //   color: "#0084ff",
        // },
        {
          network: "twitter",
          name: "Twitter",
          icon: "fab fah fa-lg fa-twitter",
          color: "#1da1f2",
        },
        {
          network: "whatsapp",
          name: "Whatsapp",
          icon: "fab fah fa-lg fa-whatsapp",
          color: "#25d366",
        },
      ],
    };
  },

  computed: {
    currentDate() {
      return moment().startOf("day");
    },
    modalData() {
      return this.modal;
    },
    // nama() {
    //     return store.state.nama
    // },
    // count() {
    //   return store.getters.nftsCount
    // },
    // nfts() {
    //   return store.getters.nfts
    // },
    // shows() {
    //   return store.getters.shows
    // }
  },

  methods: {
    formatDate(date) {
      return moment(date).format("Do MMM YYYY");
    },
    totalDaysLeft(start_date, end_date) {
      let start = moment(start_date, "YYYY-MM-DD");
      let end = moment(end_date, "YYYY-MM-DD");
      return moment.duration(end.diff(start)).asDays();
    },
    timeAgoFormat(date) {
      return moment(date).fromNow();
    },
    startDatePassed(date) {
      return (
        moment(date, "YYYY-MM-DD").isSame(moment(), "day") ||
        moment(date, "YYYY-MM-DD").isBefore(moment(), "day")
      );
    },
    endDatePassed(date) {
      return (
        moment(date, "YYYY-MM-DD").isSame(moment(), "day") ||
        moment(date, "YYYY-MM-DD").isBefore(moment(), "day")
      );
    },
    totalPriceInBnb(array) {
      let total = 0;
      array?.map(
        (item) =>
          (total +=
            item?.marketplace === null
              ? 0
              : item?.marketplace?.price === null
              ? 0
              : item?.marketplace?.price)
      );
      return parseFloat(total).toFixed(2);
    },
    totalPriceInUsd(array) {
      let total = 0;
      array?.map(
        (item) =>
          (total +=
            item?.marketplace === null
              ? 0
              : item?.marketplace?.priceUsd === null
              ? 0
              : item?.marketplace?.priceUsd)
      );
      return parseFloat(total).toFixed(2);
    },
    onSeeNftsModal(item) {
      console.log("check onseenftsmodal ==> ", item);
      toggleModal("default-modal");
      this.modal = item;
    },
    onRedeem() {
      const hasCustomFields = this.$page.props.giveaway?.event_gifts?.find(x => x.gift_id === this.selected_gift_id)?.gift?.gift_custom_fields?.length > 0
      if (hasCustomFields) {
        toggleModal('redeem-confirmation-popup-modal', false)
        toggleModal('custom-fields-popup-modal', true)
      } else {
        this.redeeming = true
        const data = {
          ...this.web3Params,
          email: this.form.email,
          name: this.form.name,
        };
        const url = "/api/update_redemption";
        axios.post(url, data)
        .then((response) => {
          this.redeeming = false
          if (response.data.errorCode) {
            alert(reponse.data.errorMessage)
          } else {
            this.redemptionData = response.data.redemption
            toggleModal('redeem-confirmation-popup-modal', false)
            toggleModal('redeem-status-popup-modal', true)
          }
          console.log("check update_redemption response ===> ", response)
        })
        .catch((error) => {
          console.log("check update_redemption error ===> ", error)
        })
      }
    },

    onRedeemWithCustomFields() {
      this.completing = true
      const data = {
        ...this.web3Params,
        email: this.form.email,
        name: this.form.name,
        custom_fields: this.form.custom_fields
      };
      console.log("Check custom fields onRedeeem ===> ", data)
      const url = "/api/update_redemption";
      axios.post(url, data)
      .then((response) => {
        this.completing = false
        if (response.data.errorCode) {
          alert(reponse.data.errorMessage)
        } else {
          toggleModal('custom-fields-popup-modal', false)
          toggleModal('redeem-status-popup-modal', true)
        }
        console.log("check update_redemption response ===> ", response)
      })
      .catch((error) => {
        console.log("check update_redemption error ===> ", error)
      })
    },

    onClickSeeCollection(id) {
      this.selected_gift_id = id
      console.log("check onclickseecollection ===> ", this.$page.props.giveaway?.event_gifts?.find(i => i?.gift_id === id)?.gift?.nft_collection_group?.nft_collections)
      toggleModal('see-collection-popup-modal', true)
    },
    // onSubmitRedemption() {
    //   const data = {
    //     email: this.form.email,
    //     name: this.form.name,
    //     redemption_id: this.redemption_id
    //   };
    //   const url = "/api/update_redemption";
    //   console.log("check data ===> ", data)
    //   // toggleModal('redeem-confirmation-popup-modal')
    //   this.redeeming = true
    //   // setTimeout(() => {
    //   //   this.redeeming = false
    //   //   toggleModal('redeem-confirmation-popup-modal', false)
    //   //   toggleModal('redeem-status-popup-modal', true)
    //   // }, 5000)
    //   axios.post(url, data)
    //   .then((response) => {
    //     this.redeeming = false
    //     if (response.data.errorCode) {
    //       alert(reponse.data.errorMessage)
    //     } else {
    //       toggleModal('redeem-confirmation-popup-modal', false)
    //       toggleModal('redeem-status-popup-modal', true)
    //     }
    //     console.log("check update_redemption response ===> ", response)
    //   })
    //   .catch((error) => {
    //     console.log("check update_redemption error ===> ", error)
    //   })      
    // },
    async redeemUsingWeb3(id) {
      this.selected_gift_id = id
      let array = []
      this.$page.props.giveaway?.event_gifts?.find(x => x.gift_id === id)?.gift?.gift_custom_fields?.map((item, index) => {
        console.log("Check loop gift custom fields ===> ", item)
        array.push({
          ...item,
          value: '',
        })
        this.form.custom_fields = array
      })
      // console.log("check array ni bossku ===> ", array)
      // console.log("checkkkk japp ===> ", this.selected_gift_id, this.$page.props.giveaway?.event_gifts, this.$page.props.giveaway?.event_gifts?.find(x => x.gift_id === id)?.gift?.gift_custom_fields)
      // toggleModal('custom-fields-popup-modal', true)
      // if (!this.metamaskInstalled) {
      //     alert("Please install MetaMask to use this dApp");
      // } else {
      const web3 = new Web3(window.ethereum);
      const networkType = await web3.eth.net.getNetworkType();
      const chainId = await web3.eth.net.getId(); // require 56 BSC Network
      console.log("network type ===> ", networkType);
      console.log("chain id ===> ", chainId);
      if (chainId !== 56) {
        alert("Please change to BSC network");
      } else {
        // await window.ethereum.send('eth_requestAccounts');
        const eth_address = (await web3.eth.requestAccounts())[0];
        const message = [eth_address, "https://tuah.io"].join("\n");
        const signature = await web3.eth.personal.sign(message, eth_address);
        const giveaway_id = this.$page.props.giveaway?.id;
        const gift_id = id;
        console.log("check redeemUsingWeb3 form ==> ", {
          message,
          eth_address,
          signature,
          giveaway_id,
          gift_id,
        });
        const url = "/api/verify_redemption";
        const data = {
          message,
          eth_address,
          signature,
          giveaway_id,
          gift_id,
        };
        this.web3Params = data
        axios
        .post(url, data)
        .then((response) => {
          if (response.data.errorCode) {
            alert(`${response.data.errorMessage}`);
          } else {
            // this.redemption_id = response.data.redemption.id
            toggleModal('redeem-confirmation-popup-modal', true)
            console.log("check response ==> ", response.data);
          }
          console.log("check response ==> ", response);
        })
        .catch((error) => {
          console.log("Check error ===> ", error);
        });
      }
    },
  },

  beforeCreate() {
    // console.log("before create", this.$route.);
    console.log("check props ==> ", this.$page.props.giveaway)
    // store.dispatch('getShows');

    
    store
    .dispatch("getNftsGiveaway", {
      subdomain: this.$page.props.giveaway?.user?.subdomain,
      id: this.$page.props.giveaway?.id,
    }) // temporary tukar pelempunk ke subdomain variable
    .then(() => {
      this.data = store.getters.nftsGiveaway;
      console.log("Get getNftsGiveaway", store.getters.nftsGiveaway);
    });

    console.log("Check redemptions ===> ", this.$page.props.giveaway?.redemptions)
    this.$page.props.giveaway?.redemptions?.map((r, r_index) => {
      const url = "/api/owner_profile/" + r.eth_address
      axios.get(url)
      .then((response) => {
        console.log("checckkkkk ===> ", response.data)
        let redeemersArray = this.redeemers
        if (response.data) {
          redeemersArray.push({
            ...r,
            pentasProfile: response.data
          })
          this.redeemers = redeemersArray
        } else {
          console.log("invalid response ===> ", response.data)
        }
      })
      .catch((error) => {
        console.log("error ===> ", error)
      })
    })
  },
});
</script>
<style>
.share-network-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center; */
  max-width: 1000px;
  /* margin: auto; */
}
a[class^="share-network-"] {
  flex: none;
  color: #ffffff;
  background-color: #333;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 10px 10px 0;
}
a[class^="share-network-"] .fah {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  flex: 0 1 auto;
}
a[class^="share-network-"] span {
  padding: 0 10px;
  flex: 1 1 0%;
  font-weight: 500;
}
.profile-banner {
  height: auto;
}
@media (min-width: 768px) {
  .profile-banner {
    height: 20rem;
  }
}
</style>
