<template>
    <app-layout title="Create Gift">
        <!-- <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Create Gift
            </h2>
        </template> -->

        <div class="py-6">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            	<!-- <div class="max-w-2xl mx-auto">
	            	<a :href="route('gifts')">
	                  <div class="mb-6 btn">Back</div>
	                </a>
	            </div> -->
                <div class="max-w-2xl mx-auto bg-white shadow-lg rounded-lg p-6">
			        <jet-validation-errors class="mb-4" />

			        <form @submit.prevent="submit" enctype="multipart/form-data">
                  <div>
                      <jet-label for="gift_type_id" value="Gift Type" />
                      <select id="gift_type_id" class="mt-1 block w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm cursor-pointer" v-model="this.form.gift_type_id" required>
                        <option v-for="type in this.$page.props.giftTypeList" :key="type?.id" :value="type?.id">{{ type?.title }}</option>
                      </select>
                  </div>
			            <div class="mt-4">
			                <jet-label for="title" value="Title" />
			                <jet-input id="title" type="text" class="mt-1 block w-full" v-model="this.form.title" required autofocus autocomplete="title" />
			            </div>

			            <div class="mt-4">
			                <jet-label for="remark" value="Description" />
			                <jet-input id="remark" type="text" class="mt-1 block w-full" v-model="this.form.remark" required />
			            </div>

                  <div v-show="this.form.gift_type_id === 1" class="mt-4">
                      <jet-label for="amount" value="Amount" />
                      <jet-input id="amount" type="text" class="mt-1 block w-full" v-model="this.form.amount" required />
                  </div>

                  <div class="mt-4">
                      <div v-show="this.form.gift_type_id === 1" class="flex items-center">
                        <input :checked="this.isEnabledCustomAttributes" v-on:change="onEnableCustomAttributes" :id="`custom_attributes`" :aria-describedby="`custom_attributes`" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 cursor-pointer focus:ring-0">
                        <jet-label for="custom_attributes" class="ml-2" value="Custom Fields (will be prompted during redemption process)" />
                      </div>
                      <div v-show="this.isEnabledCustomAttributes">
                        <div class="flex mt-2" v-for="(custom_attribute, custom_attribute_index) in this.form.custom_attributes" :key="custom_attribute_index">
                          <div class="w-full mb-1">
                            <jet-input id="attribute_name" type="text" class="mt-1 block w-full" v-model="this.form.custom_attributes[custom_attribute_index].attribute_name" v-bind:value="custom_attribute?.attribute_name" required />
                          </div>
                          <!-- <div class="ml-2">
                            <jet-input id="attribute_type" type="text" class="mt-1 block w-full" v-bind:value="custom_attribute?.attribute_type" required />
                          </div> -->
                          <button @click="removeAttribute(custom_attribute_index)" v-show="this.form.custom_attributes.length > 1 " type="button" class="items-center mt-1 mb-1 ml-2 inline-flex justify-center w-20 rounded-md border border-gray-300 shadow-sm bg-white text-sm font-medium text-gray-700 hover:bg-gray-50" id="menu-button" aria-expanded="true" aria-haspopup="true">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 20 20" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6" />
                            </svg>
                          </button>
                          <button @click="addAttribute(custom_attribute_index + 1)" type="button" class="items-center mt-1 mb-1 ml-2 inline-flex justify-center w-20 rounded-md border border-gray-300 shadow-sm bg-white text-sm font-medium text-gray-700 hover:bg-gray-50" id="menu-button" aria-expanded="true" aria-haspopup="true">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 20 20" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                            </svg>
                          </button>
                        </div>
                      </div>
                  </div>

                  <div class="mt-4">
                      <div class="flex justify-between items-center">
                        <jet-label for="poster" value="Gift Poster" />
                        <a v-show="this.form.poster !== ''" class="text-sm cursor-pointer text-blue-500 hover:text-blue-600" v-on:click="this.form.poster = ''">Remove</a>
                      </div>
                      <div v-if="this.form.poster === ''">
                        <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                          <div class="space-y-1 text-center">
                            <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                              <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <div class="flex text-sm text-gray-600">
                              <label for="poster" class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                                <span>Upload a file</span>
                                <input v-on:change="onImageChange" id="poster" name="poster" type="file" class="sr-only">
                              </label>
                              <p class="pl-1">or drag and drop</p>
                            </div>
                            <p class="text-xs text-gray-500">
                              PNG, JPG, GIF up to 10MB
                            </p>
                          </div>
                        </div>
                      </div>
                      <div v-else className="mt-1 relative w-full h-80 bg-white rounded-lg overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
                        <img :src="this.form.poster" class="w-full h-full object-center object-cover" />
                      </div>
                  </div>

                  <div v-if="this.form.gift_type_id === 2" class="mt-4">
                      <div class="flex justify-between items-center">
                        <jet-label for="nft_collection_id" value="NFTs" />
                        <div v-show="this.$page.props.nft_collections?.length === 0">
                          <span class="text-sm">No NFT.</span>
                          <a class="mr-0 text-sm cursor-pointer text-blue-500 hover:text-blue-600" :href="route('createNftCollection')" target="_blank"> Add NFT</a>
                        </div>
                      </div>
                      <select v-show="this.$page.props.nft_collections?.length > 0"  @change="onSelectGift" v-bind:value="this.form.nft_collection_id" id="nft_collection_id" :class="this.form.nft_collection_id === null ? `text-gray-400` : null" class="block mt-1 w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm cursor-pointer" name="nft_collection_id" v-model="this.form.nft_collection_id" required>
                        <option class="text-gray-400" :value="null">Please select one NFT</option>
                        <option class="text-gray-600" v-for="nft in this.$page.props.nft_collections" :key="nft.id" v-bind:value="nft.id">{{ nft.title }}</option>
                      </select>
                  </div>

                  <div v-else-if="this.form.gift_type_id === 3" class="mt-4">
                      <div class="flex justify-between items-center">
                        <jet-label for="nft_collection_group_id" value="Collections" />
                        <div v-show="this.$page.props.nft_collection_groups?.length === 0">
                          <span class="text-sm">No Collection.</span>
                          <a class="mr-0 text-sm cursor-pointer text-blue-500 hover:text-blue-600" :href="route('createNftCollectionGroup')" target="_blank"> Add Collection</a>
                        </div>
                      </div>
                      <select v-show="this.$page.props.nft_collection_groups?.length > 0"  @change="onSelectGift" v-bind:value="this.form.nft_collection_group_id" id="nft_collection_group_id" :class="this.form.nft_collection_group_id === null ? `text-gray-400` : null" class="block mt-1 w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm cursor-pointer" name="nft_collection_group_id" v-model="this.form.nft_collection_group_id" required>
                        <option class="text-gray-400" :value="null">Please select one NFT collection</option>
                        <option class="text-gray-600" v-for="nft in this.$page.props.nft_collection_groups" :key="nft.id" v-bind:value="nft.id">{{ nft.title }} ({{ nft?.nft_collections?.length }} nfts)</option>
                      </select>
                  </div>

			            <div class="flex items-center justify-end mt-4">
			                <jet-button class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
			                    Save
			                </jet-button>
			            </div>
			        </form>
			    </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import Welcome from '@/Jetstream/Welcome.vue'
    import JetAuthenticationCard from '@/Jetstream/AuthenticationCard.vue'
    import JetAuthenticationCardLogo from '@/Jetstream/AuthenticationCardLogo.vue'
    import JetButton from '@/Jetstream/Button.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetCheckbox from '@/Jetstream/Checkbox.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import JetValidationErrors from '@/Jetstream/ValidationErrors.vue'
    import { Head, Link } from '@inertiajs/inertia-vue3';
    import store from '../../store';

    export default defineComponent({
        components: {
            AppLayout,
            Welcome,
            Head,
            JetAuthenticationCard,
            JetAuthenticationCardLogo,
            JetButton,
            JetInput,
            JetCheckbox,
            JetLabel,
            JetValidationErrors,
            Link,
        },
        data() {
          return {
          	form: this.$inertia.form({
                title: '',
                remark: '',
                amount: 0,
                gift_type_id: 1,
                nft_collection_id: null,
                nft_collection_group_id: null,
                poster: '',
                custom_attributes: [{ attribute_name: "Size", attribute_type: 'integer' }]
            }),
            isEnabledCustomAttributes: false
          }
        },
        computed: {
          nfts() {
            return store.getters.nfts
          }
        },
        created() {
          // this.genres = JSON.parse(JSON.stringify(this.$page.props.genres))
          console.log(" JSON.parse(JSON.stringify(this.$page.props))",  JSON.parse(JSON.stringify(this.$page.props)))

          store.dispatch('getNfts', { eth_address: "0x494fED3a0cCE62501D65C60f67e57E53e16368B6" })
        },
        methods: {
          onEnableCustomAttributes() {
            this.isEnabledCustomAttributes = !this.isEnabledCustomAttributes
          },
          onVideoChange(e) {
              let files = e.target.files || e.dataTransfer.files;
              if (!files.length)
                  return;
              this.createVideo(files[0]);
          },
          onImageChange(e) {
              let files = e.target.files || e.dataTransfer.files;
              if (!files.length)
                  return;
              this.createImage(files[0]);
          },
          createImage(file) {
              let reader = new FileReader();
              let vm = this;
              reader.onload = (e) => {
                  vm.form.poster = e.target.result;
              };
              reader.readAsDataURL(file);
          },
          createVideo(file) {
              let reader = new FileReader();
              let vm = this;
              reader.onload = (e) => {
                  vm.form.transcode_media = e.target.result;
              };
              reader.readAsDataURL(file);
          },
          onSelectGenre(event) {
            console.log("check onSelectGenre ===> ", event.target.value)
            this.form.genre = parseInt(event.target.value)
          },
          submit() {
          	console.log("check form value ===> ", JSON.parse(JSON.stringify(this.form)))
              this.form.post(this.route('storeGift'), {
                  // onFinish: () => this.$inertia.visit(route('users'))
              })
          },
          onSelectAllGifts(gift_ids) {
            console.log("check onSelectAllGifts ===> ", gift_ids)
            this.form.event_gifts = gift_ids
          },  
          onSelectAllNfts(nfts_ids) {
            console.log("check onSelectAllNfts ===> ", nfts_ids)
            this.form.event_nfts = nfts_ids
          }, 
          onChangeType(event) {
            this.form.type = parseInt(event.target.id)
            console.log("Check onChangeType ===> ", event.target.value)
          },
          addAttribute(index) {
            if (this.form.custom_attributes.length < 3) {
              if (index === 1) {
                this.form.custom_attributes.push({ attribute_name: "Address", attribute_type: 'varchar' })
              } else {
                this.form.custom_attributes.push({ attribute_name: "", attribute_type: 'text' })
              }
            } else {
              return false
            }
          },
          removeAttribute(index) {
            this.form.custom_attributes.splice(index, 1)
          },
        }
    })
</script>
