<template>
    <app-layout title="Gift">
        <!-- <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Gift
            </h2>
        </template> -->

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <a :href="route('gifts')">
                  <div class="mb-6 mr-2 btn">Back</div>
                </a>
                <a :href="route('editGift', this.$page.props.gift?.id)">
                  <div class="mb-6 btn hover:bg-orange-700 hover:border-orange-700 bg-orange-600 border-orange-600">Edit</div>
                </a>
                <div class="bg-white shadow overflow-hidden sm:rounded-lg">
				  <div class="px-4 py-5 sm:px-6">
				    <h3 class="text-lg leading-6 font-medium text-gray-900">
				      Gift Information
				    </h3>
				    <p class="mt-1 max-w-2xl text-sm text-gray-500">
				      created on {{ this.$page.props.gift?.created_at }}
				    </p>
				  </div>
				  <div class="border-t border-gray-200">
				    <dl>
				      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
				        <dt class="text-sm font-medium text-gray-500">
				          Title
				        </dt>
				        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
				          {{ this.$page.props.gift?.title }}
				        </dd>
				      </div>
				      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
				        <dt class="text-sm font-medium text-gray-500">
				          Description
				        </dt>
				        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
							{{ this.$page.props.gift?.remark }}
				        </dd>
				      </div>
				      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
				        <dt class="text-sm font-medium text-gray-500">
				          Amount
				        </dt>
				        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
				          RM {{ this.$page.props.gift?.amount  }}
				        </dd>
				      </div>
				      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
				        <dt class="text-sm font-medium text-gray-500">
				          Poster
				        </dt>
				        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
				          <a target="_blank" :href="this.$page.props.gift?.stream_path">{{ this.$page.props.gift?.image_url }}</a>
				        </dd>
				      </div>
				    </dl>
				  </div>
				</div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import Welcome from '@/Jetstream/Welcome.vue'
    import moment from 'moment';

    export default defineComponent({
        components: {
            AppLayout,
            Welcome,
        },
        data() {
          return {
            // users: []
          }
        },
        created() {
        //   this.users = JSON.parse(JSON.stringify(this.$page.props.users))
          console.log("check props ===> ", JSON.parse(JSON.stringify(this.$page.props)))
        },
    })
</script>
