<template>
    <app-layout title="Edit User">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Edit User
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            	<div class="max-w-2xl mx-auto">
	            	<a :href="route('users')">
	                  <div class="mb-6 btn">Back to list</div>
	                </a>
	            </div>
                <div class="max-w-2xl mx-auto bg-white shadow-lg rounded-lg p-10">
			        <jet-validation-errors class="mb-4" />

			        <form @submit.prevent="submit">
			            <div>
			                <jet-label for="name" value="Name" />
			                <jet-input id="name" type="text" class="mt-1 block w-full" v-model="form.name" required autofocus autocomplete="name" />
			            </div>

			            <div class="mt-4">
			                <jet-label for="email" value="Email" />
			                <jet-input id="email" type="email" class="mt-1 block w-full" v-model="form.email" required />
			            </div>

			            <div class="mt-4">
			                <jet-label for="eth_address" value="BSC Address" />
			                <jet-input id="eth_address" type="text" class="mt-1 block w-full" v-model="form.eth_address" required />
			            </div>

			            <div class="mt-4">
			            	<jet-label for="role" value="Role" />
			            	<select placeholde="Select role" @change="onSelectRoles($event)" v-model="this.form.role" name="role" id="role" class="block rounded-md shadow-sm mt-1 block w-full">
                                <option v-for="role in this.roles" v-bind:value="role?.id">{{ role?.title }}</option>
                            </select>
			            </div>

			            <!-- <div class="mt-4">
			                <jet-label for="password" value="Password" />
			                <jet-input id="password" type="password" class="mt-1 block w-full" v-model="form.password" required autocomplete="new-password" />
			            </div> -->

			            <!-- <div class="mt-4">
			                <jet-label for="password_confirmation" value="Confirm Password" />
			                <jet-input id="password_confirmation" type="password" class="mt-1 block w-full" v-model="form.password_confirmation" required autocomplete="new-password" />
			            </div> -->

			            <!-- <div class="mt-4" v-if="$page.props.jetstream.hasTermsAndPrivacyPolicyFeature">
			                <jet-label for="terms">
			                    <div class="flex items-center">
			                        <jet-checkbox name="terms" id="terms" v-model:checked="form.terms" />

			                        <div class="ml-2">
			                            I agree to the <a target="_blank" :href="route('terms.show')" class="underline text-sm text-gray-600 hover:text-gray-900">Terms of Service</a> and <a target="_blank" :href="route('policy.show')" class="underline text-sm text-gray-600 hover:text-gray-900">Privacy Policy</a>
			                        </div>
			                    </div>
			                </jet-label>
			            </div> -->

			            <div class="flex items-center justify-end mt-4">
			                <jet-button class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
			                    Update
			                </jet-button>
			            </div>
			        </form>
			    </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import Welcome from '@/Jetstream/Welcome.vue'
    import JetAuthenticationCard from '@/Jetstream/AuthenticationCard.vue'
    import JetAuthenticationCardLogo from '@/Jetstream/AuthenticationCardLogo.vue'
    import JetButton from '@/Jetstream/Button.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetCheckbox from '@/Jetstream/Checkbox.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import JetValidationErrors from '@/Jetstream/ValidationErrors.vue'
    import { Head, Link } from '@inertiajs/inertia-vue3';

    export default defineComponent({
        components: {
            AppLayout,
            Welcome,
            Head,
            JetAuthenticationCard,
            JetAuthenticationCardLogo,
            JetButton,
            JetInput,
            JetCheckbox,
            JetLabel,
            JetValidationErrors,
            Link,
        },
        data() {
          return {
          	form: this.$inertia.form({
                name: '',
                email: '',
                eth_address: '',
                role: 2,
                // password: '',
                // password_confirmation: '',
                // terms: false,
            }),
            roles: []
          }
        },
        created() {
        	this.form.name = this.$page.props.user.name
        	this.form.email = this.$page.props.user.email
        	this.form.eth_address = this.$page.props.user.eth_address
        	this.form.role = this.$page.props.user.roles[0].id
	        this.roles = JSON.parse(JSON.stringify(this.$page.props.roles))
	        console.log("check props ===> ", JSON.parse(JSON.stringify(this.$page.props.roles)))
        },
        methods: {
        	onSelectRoles(event) {
        		console.log("check value onSelectRoles ===> ", event.target.value)
        	},
            submit() {
            	console.log("check form value ===> ", this.form)
                this.form.post(this.route('storeUser'), {
                    // onFinish: () => this.$inertia.visit(route('users'))
                })
            }
        }
    })
</script>
