<template>
    <app-layout title="Dashboard">
        <!-- <template #header>
            <div class="flex justify-between items-center">
                <div>
                    <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                        {{ this.$page.props.breadcrumbs.find(i => i.is_current_page === true)?.title }}
                    </h2>
                    <nav class="flex" aria-label="Breadcrumb">
                        <ol class="inline-flex items-center space-x-1 md:space-x-3">
                            <li v-for="(breadcrumb, breadcrumb_index) in this.$page.props.breadcrumbs" :key="breadcrumb.id"  v-bind:aria-current="breadcrumb?.is_current_page ? 'page' : null"  class="inline-flex items-center">
                                <a :href="breadcrumb?.url" class="inline-flex items-center text-sm text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                                    <svg v-show="breadcrumb_index > 0" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                                    {{ breadcrumb?.title }}
                                </a>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div style="width: 10%;" class="flex justify-between items-center">
                    <a target="_blank" :href="`https://app.pentas.io/user/${this.$page.props.user?.eth_address}`"><img src="https://tuah-bucket.sgp1.digitaloceanspaces.com/images/pentas-logo.png" /></a>
                </div>
            </div>
        </template> -->

        <div class="py-6">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="flex justify-between mb-4">
                    <div class="flex shadow-lg rounded-xl w-full md:w-full p-4 bg-white dark:bg-gray-800 relative overflow-hidden">
                        <div class="w-full grid md:grid-cols-8 lg:grid-cols-8 grid-cols-1 gap-5"> 
                            <div class="w-full h-full block md:col-span-4 lg:col-span-4 col-span-2">
                                <div class="w-full flex items-center">
                                    <a href="#" class="block relative">
                                        <img alt="profil" :src="this.$page.props.user.stream_path" class="mx-auto object-cover rounded-full h-12 w-12"/>
                                    </a>
                                    <div class="flex flex-col items-start ml-3">
                                        <span class="dark:text-white">
                                            {{ this.$page.props.user.name }}
                                        </span>
                                        <span class="text-blue-400 text-sm dark:text-gray-300">
                                            <a target="_blank" :href="`https://bscscan.com/address/${this.$page.props.user?.eth_address}`">
                                                {{ $page.props.user.eth_address.length > 12 ? $page.props.user.eth_address.substring(0, 6) + '...' + $page.props.user.eth_address.substring($page.props.user.eth_address.length - 4, $page.props.user.eth_address.length)  : $page.props.user.eth_address }}
                                            </a>
                                        </span>
                                        <span class="text-blue-400 text-sm dark:text-gray-300">
                                            <a target="_blank" :href="`https://app.pentas.io/user/${this.$page.props.user?.eth_address}`">go to pentas profile</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            
                                <div class="flex items-center">
                                    <div class="h-8 w-8 mr-4">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M9 3v2m6-2v2M9 19v2m6-2v2M5 9H3m2 6H3m18-6h-2m2 6h-2M7 19h10a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v10a2 2 0 002 2zM9 9h6v6H9V9z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <div class="text-sm text-gray-900">Volume</div>
                                        <div class="text-sm text-gray-900 font-bold">N/A</div>
                                        <!-- <div class="text-sm text-gray-900 font-bold">{{ this.ownerProfile?.tradedVolume !== null ? parseFloat(this.ownerProfile?.tradedVolume || 0).toFixed(2) : parseFloat(0).toFixed(2) }} BNB</div> -->
                                    </div>
                                </div>
                                <div class="flex items-center">
                                    <div class="h-8 w-8 mr-4">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M5.636 18.364a9 9 0 010-12.728m12.728 0a9 9 0 010 12.728m-9.9-2.829a5 5 0 010-7.07m7.072 0a5 5 0 010 7.07M13 12a1 1 0 11-2 0 1 1 0 012 0z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <div class="text-sm text-gray-900">Floor</div>
                                        <div class="text-sm text-gray-900 font-bold">N/A</div>
                                        <!-- <div class="text-sm text-gray-900 font-bold"><strong>{{ this.ownerProfile?.floorPrice !== null ? parseFloat(this.ownerProfile?.floorPrice || 0).toFixed(2) : parseFloat(0).toFixed(2) }} BNB</strong></div> -->
                                    </div>
                                </div>
                                <div class="flex items-center">
                                    <div class="h-8 w-8 mr-4">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <div class="text-sm text-gray-900">Sold</div>
                                        <div class="text-sm text-gray-900 font-bold">N/A</div>
                                        <!-- <div class="text-sm text-gray-900 font-bold">{{ this.ownerProfile?.saleCount }} of {{ this.ownerProfile?.mintCount }}</div> -->
                                    </div>
                                </div>
                                <div class="flex items-center mr-0">
                                    <div class="h-8 w-8 mr-4">
                                        <svg xmlns="http://www.w3.org/2000/svg" className="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                                        </svg>
                                    </div>
                                    <div>
                                        <div class="text-sm text-gray-900">Owners</div>
                                        <div class="text-sm text-gray-900 font-bold">N/A</div>
                                        <!-- <div class="text-sm text-gray-900 font-bold">{{ this.ownerProfile?.uniqueOwners  }}</div> -->
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
                <div class="px-4 md:px-0 lg:px-0 mt-4 mb-2 text-md font-bold text-slate-900">Giveaway Manager</div>
                <div class=" grid md:grid-cols-3 lg:grid-cols-3 grid-cols-1 gap-5"> 
                    <div class="shadow-lg rounded-2xl w-full p-4 bg-white dark:bg-gray-800">
                        <div class="flex items-center">
                            <p class="text-md text-gray-700 dark:text-gray-50">
                                Giveaways
                            </p>
                        </div>
                        <div class="flex flex-col justify-start">
                            <p class="text-gray-800 text-4xl text-left dark:text-white font-bold mt-4">
                                {{ this.$page.props.giveaways.length || 0 }}
                            </p>
                            <div class="flex">
                                <p class="text-blue-600 text-md text-left dark:text-white font-bold mt-2">
                                    <a :href="route('giveaways')">List</a>
                                </p>
                                <p class="ml-4 text-blue-600 text-md text-left dark:text-white font-bold mt-2">
                                    <a :href="route('createGiveaway')">Create</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="shadow-lg rounded-2xl w-full p-4 bg-white dark:bg-gray-800">
                        <div class="flex items-center">
                            <p class="text-md text-gray-700 dark:text-gray-50">
                                Rewards
                            </p>
                        </div>
                        <div class="flex flex-col justify-start">
                            <p class="text-gray-800 text-4xl text-left dark:text-white font-bold mt-4">
                                {{ this.$page.props.gifts.length || 0 }}
                            </p>
                            <div class="flex">
                                <p class="text-blue-600 text-md text-left dark:text-white font-bold mt-2">
                                    <a :href="route('gifts')">List</a>
                                </p>
                                <p class="ml-4 text-blue-600 text-md text-left dark:text-white font-bold mt-2">
                                    <a :href="route('createGift')">Create</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="shadow-lg rounded-2xl w-full p-4 bg-white dark:bg-gray-800">
                        <div class="flex items-center">
                            <p class="text-md text-gray-700 dark:text-gray-50">
                                Redemptions
                            </p>
                        </div>
                        <div class="flex flex-col justify-start">
                            <p class="text-gray-800 text-4xl text-left dark:text-white font-bold mt-4">
                                {{ this.$page.props.redemptions.length || 0 }}
                            </p>
                            <div class="flex">
                                <p class="text-blue-600 text-md text-left dark:text-white font-bold mt-2">
                                    <a :href="route('redemptions')">List</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4 md:px-0 lg:px-0 mt-4 mb-2 text-md font-bold text-slate-900">NFT Assets Manager</div>
                <div class=" grid md:grid-cols-3 lg:grid-cols-3 grid-cols-1 gap-5"> 
                    <div class="shadow-lg rounded-2xl w-full p-4 bg-white dark:bg-gray-800">
                        <div class="flex items-center">
                            <p class="text-md text-gray-700 dark:text-gray-50">
                                NFT Gallery
                            </p>
                        </div>
                        <div class="flex flex-col justify-start">
                            <p class="text-gray-800 text-4xl text-left dark:text-white font-bold mt-4">
                                {{ this.$page.props.nft_collections.length || 0 }}
                            </p>
                            <div class="flex">
                                <p class="text-blue-600 text-md text-left dark:text-white font-bold mt-2">
                                    <a :href="route('nft_collections')">List</a>
                                </p>
                                <p class="ml-4 text-blue-600 text-md text-left dark:text-white font-bold mt-2">
                                    <a :href="route('createNftCollection')">Create</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="shadow-lg rounded-2xl w-full p-4 bg-white dark:bg-gray-800">
                        <div class="flex items-center">
                            <p class="text-md text-gray-700 dark:text-gray-50">
                                NFT Collections
                            </p>
                        </div>
                        <div class="flex flex-col justify-start">
                            <p class="text-gray-800 text-4xl text-left dark:text-white font-bold mt-4">
                                {{ this.$page.props.nft_collection_groups.length || 0 }}
                            </p>
                            <div class="flex">
                                <p class="text-blue-600 text-md text-left dark:text-white font-bold mt-2">
                                    <a :href="route('nft_collection_groups')">List</a>
                                </p>
                                <p class="ml-4 text-blue-600 text-md text-left dark:text-white font-bold mt-2">
                                    <a :href="route('createNftCollectionGroup')">Create</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4 md:px-0 lg:px-0 mt-4 mb-2 text-md font-bold text-slate-900">Upcoming Features</div>
                <div class=" grid md:grid-cols-3 lg:grid-cols-3 grid-cols-1 gap-5"> 
                    <div class="shadow-lg rounded-2xl w-full p-4 bg-white dark:bg-gray-800">
                        <div class="flex items-center">
                            <p class="text-md text-gray-700 dark:text-gray-50">
                                NFT Campaigns
                            </p>
                        </div>
                        <div class="flex flex-col justify-start">
                            <p class="text-gray-200 text-4xl text-left dark:text-white font-bold mt-4">
                                0
                            </p>
                            <div>
                                <p class="text-blue-200 text-md text-left dark:text-white font-bold mt-2">
                                Coming Soon
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import Welcome from '@/Jetstream/Welcome.vue'

    export default defineComponent({
        components: {
            AppLayout,
            Welcome,
        },

        data() {
            return {
                ownerProfile: null
            }
        },

        methods: {
            getOwnerProfile() {
               const url = "/api/owner_profile/" + this.$page.props.user?.eth_address
               axios.get(url)
               .then((response) => {
                   if (response.data) {
                       this.ownerProfile = response.data
                       console.log("Dashboard getOwnerProfile response ===> ", response.data)
                   } else {
                       console.log("Dashboard getOwnerProfile invalid response ===> ", response.data)
                   }
               })
               .catch((error) => {
                   console.log("Dashboard getOwnerProfile error response ===> ", error)
               })
            }
        },

        created() {
            this.getOwnerProfile();
            console.log("check props ===> ", this.$page.props)
        },
        
        // beforeCreate() {
            
        // }
    })
</script>
