<template>
    <app-layout title="Create Giveaway">
        <!-- <template #header>
          <div>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                {{ this.$page.props.breadcrumbs.find(i => i.is_current_page === true)?.title }}
            </h2>
            <nav class="flex" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-3">
                    <li v-for="(breadcrumb, breadcrumb_index) in this.$page.props.breadcrumbs" :key="breadcrumb.id"  v-bind:aria-current="breadcrumb?.is_current_page ? 'page' : null"  class="inline-flex items-center">
                        <a :href="breadcrumb?.url" class="inline-flex items-center text-sm text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                            <svg v-show="breadcrumb_index > 0" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                            {{ breadcrumb?.title }}
                        </a>
                    </li>
                </ol>
            </nav>
          </div>
        </template> -->

        <div class="py-6">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            	<!-- <div class="max-w-2xl mx-auto">
	            	<a :href="route('giveaways')">
	                  <div class="mb-6 btn">Back</div>
	                </a>
	            </div> -->
                <div class="max-w-2xl mx-auto bg-white shadow-lg rounded-lg p-6">
			        <jet-validation-errors class="mb-4" />

			        <form @submit.prevent="submit" enctype="multipart/form-data">
			            <div>
			                <jet-label for="title" value="Title" />
			                <jet-input id="title" type="text" class="mt-1 block w-full" v-model="this.form.title" required autofocus autocomplete="title" />
			            </div>

			            <div class="mt-4">
			                <jet-label for="remark" value="Description" />
			                <jet-input id="remark" type="text" class="mt-1 block w-full" v-model="this.form.remark" required />
			            </div>

                  <div class="mt-4">
                      <jet-label for="start_date" value="Start Date" />
                      <jet-input id="start_date" type="date" class="mt-1 block w-full" v-model="this.form.start_date" required />
                  </div>

                  <div class="mt-4">
                      <jet-label for="end_date" value="End Date" />
                      <jet-input id="end_date" type="date" class="mt-1 block w-full" v-model="this.form.end_date" required />
                  </div>

                  <div class="mt-4">
                      <div class="flex justify-between items-center">
                        <jet-label for="poster" value="Giveaway Poster" />
                        <a v-show="this.form.poster !== ''" class="text-sm cursor-pointer text-blue-500 hover:text-blue-600" v-on:click="this.form.poster = ''">Remove</a>
                      </div>
                      <div v-if="this.form.poster === ''">
                        <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                          <div class="space-y-1 text-center">
                            <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                              <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <div class="flex text-sm text-gray-600">
                              <label for="poster" class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                                <span>Upload a file</span>
                                <input v-on:change="onImageChange" id="poster" name="poster" type="file" class="sr-only">
                              </label>
                              <p class="pl-1">or drag and drop</p>
                            </div>
                            <p class="text-xs text-gray-500">
                              PNG, JPG, GIF up to 10MB
                            </p>
                          </div>
                        </div>
                      </div>
                      <div v-else className="mt-1 relative w-full h-80 bg-white rounded-lg overflow-hidden group-hover:opacity-75 sm:aspect-w-2 sm:aspect-h-1 sm:h-64 lg:aspect-w-1 lg:aspect-h-1">
                        <img :src="this.form.poster" class="w-full h-full object-center object-cover" />
                      </div>
                  </div>

                  <div class="mt-4">
                      <div class="flex justify-between items-center">
                        <jet-label for="event_gifts" value="Gifts" />
                        <div v-if="JSON.parse(JSON.stringify(this.$page.props.gifts)).length > 0">
                          <a v-if="this.form.event_gifts.length !== this.$page.props.gifts.length" class="text-sm cursor-pointer text-blue-500 hover:text-blue-600" v-on:click="onSelectAllGifts(this.$page.props.gifts.map(gift => gift.id))">Select All ({{ this.$page.props.gifts.length }})</a> 
                          <a v-else class="text-sm cursor-pointer text-blue-500 hover:text-blue-600" v-on:click="onSelectAllGifts([])">Unselect All ({{ this.$page.props.gifts.length  }})</a>
                        </div>
                        <div v-else>
                          <span class="text-sm">No gift.</span>
                          <a class="mr-4 text-sm cursor-pointer text-blue-500 hover:text-blue-600" :href="route('createGift')" target="_blank"> Add gift</a>
                        </div>
                      </div>
                      
                      <!-- <select @change="onSelectGift" v-bind:value="this.form.event_gifts" id="event_gifts" :class="this.form.event_gifts === 0 ? `text-gray-400` : null" class="block mt-1 w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm cursor-pointer" name="event_gifts" v-model="this.form.event_gifts" required multiple>
                        <option v-for="gift in JSON.parse(JSON.stringify(this.$page.props.gifts))" :key="gift.id" v-bind:value="gift.id">{{ gift.title }}</option>
                      </select> -->

                      <div class="mt-2">
                        <div v-for="gift in JSON.parse(JSON.stringify(this.$page.props.gifts))" :key="gift.id">
                            <input :checked="this.form.event_gifts.find(x => x.id === gift?.id)" v-on:change="onCheckGift(gift?.id)" :id="`checkbox-${gift?.id}`" :aria-describedby="`checkbox-${gift?.id}`" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 cursor-pointer focus:ring-0">
                            <label :for="`checkbox-${gift?.id}`" class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">{{ gift?.title }}</label>
                            <div v-show="this.form.event_gifts.find(x => x.id === gift?.id) && gift?.gift_type_id === 1" class="flex items-center ml-6 mt-2 py-2 mb-2">
                              <div class="w-full mr-2">
                                  <jet-label for="redeem_quantity" value="Redeem Qty" />
                                  <jet-input id="redeem_quantity" type="number" v-on:change="onChangeGiftInput($event, gift?.id, `redeem_quantity`)" v-bind:value="this.form.event_gifts.find(x => x.id === gift?.id)?.redeem_quantity" class="mt-1 block w-full" :required="this.form.event_gifts.find(x => x.id === gift?.id)" />
                              </div>
                              <div class="w-full ml-2">
                                  <jet-label for="hold_amount" value="Min NFT Hold" />
                                  <jet-input id="hold_amount" type="number" v-on:change="onChangeGiftInput($event, gift?.id, `hold_amount`)"  v-bind:value="this.form.event_gifts.find(x => x.id === gift?.id)?.hold_amount" class="mt-1 block w-full" :required="this.form.event_gifts.find(x => x.id === gift?.id)" />
                              </div>
                            </div>
                        </div>
                      </div>
                  </div>

                  <div class="mt-4">
                    <div>
                      <jet-label for="event_custom_addresses" value="Custom Addresses" />
                      <div class="flex mt-2" v-for="(custom_address, custom_address_index) in this.form.event_custom_addresses" :key="custom_address_index">
                        <div class="w-full mb-1">
                          <jet-input id="address" type="text" class="mt-1 block w-full" v-model="this.form.event_custom_addresses[custom_address_index].address" v-bind:value="custom_address?.address" required />
                        </div>
                        <!-- <div class="ml-2">
                          <jet-input id="attribute_type" type="text" class="mt-1 block w-full" v-bind:value="custom_address?.attribute_type" required />
                        </div> -->
                        <button @click="removeAddress(custom_address_index)" v-show="this.form.event_custom_addresses.length > 1 " type="button" class="items-center mt-1 mb-1 ml-2 inline-flex justify-center w-20 rounded-md border border-gray-300 shadow-sm bg-white text-sm font-medium text-gray-700 hover:bg-gray-50" id="menu-button" aria-expanded="true" aria-haspopup="true">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 20 20" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6" />
                          </svg>
                        </button>
                        <button @click="addAddress(custom_address_index + 1)" type="button" class="items-center mt-1 mb-1 ml-2 inline-flex justify-center w-20 rounded-md border border-gray-300 shadow-sm bg-white text-sm font-medium text-gray-700 hover:bg-gray-50" id="menu-button" aria-expanded="true" aria-haspopup="true">
                          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 20 20" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="mt-4">
                      <div class="flex justify-between items-center">
                        <jet-label for="event_nfts" value="NFTs" />
                        <div v-if="nfts.length > 0" class="flex justify-between items-center">
                          <a class="mr-4 text-sm cursor-pointer text-blue-500 hover:text-blue-600" v-on:click="loadAllNfts()">Load All</a>
                          <a class="mr-4 text-sm cursor-pointer text-blue-500 hover:text-blue-600" v-on:click="loadMoreNfts(this.current_page + 1)">Load More</a>
                          <a v-if="this.form.event_nfts.length !== nfts.length" class="text-sm cursor-pointer text-blue-500 hover:text-blue-600" v-on:click="onSelectAllNfts(nfts.map(nft => nft.scTokenId))">Select All ({{ nfts.length }})</a> 
                          <a v-else class="text-sm cursor-pointer text-blue-500 hover:text-blue-600" v-on:click="onSelectAllNfts([])">Unselect All ({{ nfts.length }})</a>
                        </div>
                        <div v-else>
                          <span class="text-sm">No NFT.</span>
                          <a class="mr-4 text-sm cursor-pointer text-blue-500 hover:text-blue-600" :href="`https://app.pentas.io/user/${this.$page.props.user?.eth_address}`" target="_blank"> Add NFT</a>
                        </div>
                      </div>
                      <select v-show="nfts.length > 0"  @change="onSelectGift" v-bind:value="this.form.event_nfts" id="event_nfts" :class="this.form.event_nfts === 0 ? `text-gray-400` : null" class="block mt-1 w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm cursor-pointer" name="event_nfts" v-model="this.form.event_nfts" required multiple>
                        <option v-for="nft in nfts" :key="nft.scTokenId" v-bind:value="nft.scTokenId">{{ nft.name }}</option>
                      </select>
                  </div> -->

			            <div class="flex items-center justify-end mt-4">
			                <jet-button class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
			                    Save
			                </jet-button>
			            </div>
			        </form>
			    </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import Welcome from '@/Jetstream/Welcome.vue'
    import JetAuthenticationCard from '@/Jetstream/AuthenticationCard.vue'
    import JetAuthenticationCardLogo from '@/Jetstream/AuthenticationCardLogo.vue'
    import JetButton from '@/Jetstream/Button.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetCheckbox from '@/Jetstream/Checkbox.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import JetValidationErrors from '@/Jetstream/ValidationErrors.vue'
    import { Head, Link, useRemember } from '@inertiajs/inertia-vue3';
    import store from '../../store';

    export default defineComponent({
        components: {
            AppLayout,
            Welcome,
            Head,
            JetAuthenticationCard,
            JetAuthenticationCardLogo,
            JetButton,
            JetInput,
            JetCheckbox,
            JetLabel,
            JetValidationErrors,
            Link,
        },
        data() {
          return {
          	form: this.$inertia.form('CreateGiveaway', {
                title: '',
                remark: '',
                event_gifts: [],
                event_nfts: [],
                event_custom_addresses: [{ address: '' }],
                start_date: '',
                end_date: '',
                poster: '',
                type: "1", // 1 = custom_address_based_giveaway | 2 = nft_based_giveaway
            }),
            current_page: 1,
          }
        },
        computed: {
          nfts() {
            return store.getters.nfts
          }
        },
        created() {
          console.log(" JSON.parse(JSON.stringify(this.$page.props))",  JSON.parse(JSON.stringify(this.$page.props)))
          this.loadNfts()
        },
        methods: {
          loadNfts() {
            store.dispatch('getNfts', { page: this.current_page, eth_address: this.$page.props.user?.eth_address })
          },
          loadAllNfts() {
            store.dispatch('getNfts', { getType: "get_all", eth_address: this.$page.props.user?.eth_address })
          },
          loadMoreNfts(page) { 
            store.dispatch('getNfts', { page: page, eth_address: this.$page.props.user?.eth_address })
            this.current_page = page
          },
          onVideoChange(e) {
              let files = e.target.files || e.dataTransfer.files;
              if (!files.length)
                  return;
              this.createVideo(files[0]);
          },
          onImageChange(e) {
              let files = e.target.files || e.dataTransfer.files;
              if (!files.length)
                  return;
              this.createImage(files[0]);
          },
          createImage(file) {
              let reader = new FileReader();
              let vm = this;
              reader.onload = (e) => {
                  vm.form.poster = e.target.result;
              };
              reader.readAsDataURL(file);
          },
          createVideo(file) {
              let reader = new FileReader();
              let vm = this;
              reader.onload = (e) => {
                  vm.form.transcode_media = e.target.result;
              };
              reader.readAsDataURL(file);
          },
          onSelectGenre(event) {
            console.log("check onSelectGenre ===> ", event.target.value)
            this.form.genre = parseInt(event.target.value)
          },
          submit() {
          	console.log("check form value ===> ", JSON.parse(JSON.stringify(this.form)))
              this.form.post(this.route('storeGiveaway'), {
                  // onFinish: () => this.$inertia.visit(route('users'))
              })
          },
          onSelectAllGifts(gift_ids) {
            console.log("check onSelectAllGifts ===> ", gift_ids)
            if (gift_ids.length > 0) {
              let array = this.form.event_gifts.slice()
              gift_ids.map((id) => {
                array.push({ id: id, redeem_quantity: 10, hold_amount: 10 })
              })
              this.form.event_gifts = array
            } else {
              this.form.event_gifts = []
            }
          },  
          onSelectAllNfts(nfts_ids) {
            console.log("check onSelectAllNfts ===> ", nfts_ids)
            this.form.event_nfts = nfts_ids
          },  
          onCheckGift(id) {
            let array =  JSON.parse(JSON.stringify(this.form.event_gifts)).slice() // [{ id: 1, redeem_quantity: 20, hold_amount: 10 }]
            const found = array.find(x => x.id === id)
            if (found) {
              this.form.event_gifts = array.filter(x => x.id !== id)
              console.log("exists", this.form.event_gifts)
            } else {
              array.push({ id: id, redeem_quantity: 10, hold_amount: 10 })
              this.form.event_gifts = array
              console.log("not exists", array)
            }
          },
          onChangeGiftInput(e, id, type) {
            let array =  JSON.parse(JSON.stringify(this.form.event_gifts)).slice()
            let index = array.findIndex(x => x.id === id)
            if (type === 'redeem_quantity') {
              array[index].redeem_quantity = parseInt(e.target.value)
              this.form.event_gifts = array
            } else {
              array[index].hold_amount = parseInt(e.target.value)
              this.form.event_gifts = array
            }
            console.log("check onchangegiftinput ===> ", this.form.event_gifts)
          },
          addAddress(index) {
            this.form.event_custom_addresses.push({ address: '' })
          },
          removeAddress(index) {
            this.form.event_custom_addresses.splice(index, 1)
          },
          // onChangeType(event) {
          //   this.form.type = parseInt(event.target.id)
          //   console.log("Check onChangeType ===> ", event.target.value)
          // },
          // addSeason(value) {
          //   this.form.seasons.push({ summary: '', season_number: value })
          // },
          // removeSeason(index) {
          //   this.form.seasons.splice(index, 1)
          // },
        }
    })
</script>
