<template>
    <app-layout title="Episode">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Episode
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <a :href="route('showShow', this.$page.props.episode?.season?.show_id)">
                  <div class="mb-6 mr-2 btn">Back</div>
                </a>
                <a :href="route('editEpisode', this.$page.props.episode?.id)">
                  <div class="mb-6 btn hover:bg-orange-700 hover:border-orange-700 bg-orange-600 border-orange-600">Edit Episode</div>
                </a>
                <div class="bg-white shadow overflow-hidden sm:rounded-lg">
				  <div class="px-4 py-5 sm:px-6">
				    <h3 class="text-lg leading-6 font-medium text-gray-900">
				      Episode Information
				    </h3>
				    <p class="mt-1 max-w-2xl text-sm text-gray-500">
				      created on {{ this.$page.props.episode?.created_at }}
				    </p>
				  </div>
				  <div class="border-t border-gray-200">
				    <dl>
				      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
				        <dt class="text-sm font-medium text-gray-500">
				          Title
				        </dt>
				        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
				          {{ this.$page.props.episode?.title }}
				        </dd>
				      </div>
				      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
				        <dt class="text-sm font-medium text-gray-500">
				          Summary
				        </dt>
				        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
							{{ this.$page.props.episode?.summary }}
				        </dd>
				      </div>
				      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
				        <dt class="text-sm font-medium text-gray-500">
							Show
				        </dt>
				        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
				          <span>{{ this.$page.props.episode?.show?.title }}</span>
						  <br />
						  <span>Season {{ this.$page.props.episode?.season?.season_number }}: {{ this.$page.props.episode?.season?.summary }}</span>
				        </dd>
				      </div>
				      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
				        <dt class="text-sm font-medium text-gray-500">
				          Duration
				        </dt>
				        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
				          {{ this.$page.props.episode?.duration }}ms
				        </dd>
				      </div>
				      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
				        <dt class="text-sm font-medium text-gray-500">
				          Air Date
				        </dt>
				        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
				          {{ this.$page.props.episode?.airdate }}
				        </dd>
				      </div>
				      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
				        <dt class="text-sm font-medium text-gray-500">
				          Posters
				        </dt>
				        <dd v-for="poster in this.$page.props.episode?.title_posters" :key="poster.id" class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
				          <a target="_blank" :href="poster?.stream_path">{{ poster?.path }}</a>
				        </dd>
				      </div>
					  <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
				        <dt class="text-sm font-medium text-gray-500">
				          Video
				        </dt>
				        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
				          <a target="_blank" :href="this.$page.props.episode?.transcode_media?.stream_path">{{ this.$page.props.episode?.transcode_media?.path }}</a>
				        </dd>
				      </div>
				    </dl>
				  </div>
				</div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import Welcome from '@/Jetstream/Welcome.vue'
    import moment from 'moment';

    export default defineComponent({
        components: {
            AppLayout,
            Welcome,
        },
        data() {
          return {
            // users: []
          }
        },
        created() {
        //   this.users = JSON.parse(JSON.stringify(this.$page.props.users))
          console.log("check props ===> ", JSON.parse(JSON.stringify(this.$page.props)))
        },
    })
</script>
