<template>
    <app-layout title="Hassle-free NFT Manager" hideTitle="true">
      <div class="px-0 md:px-0">
        <div v-if="this.$page.props.flash.message !== null" class="alert mb-6 bg-green-200">
          {{ this.$page.props.flash.message }}
        </div>
        <!-- <div class="h-50">
          <img class="w-full" src="https://nft-dapp-dopey.sgp1.digitaloceanspaces.com/images/homepage-banner.jpg" />
        </div> -->
        <div class="max-w-7xl mx-auto py-5 h-80 flex justify-center text-center items-center sm:px-6 lg:px-8">
          <div>
            <div class="text-4xl lg:text-6xl lg:leading-tight text-gray-900 dark:text-white lg:text-center 2xl:px-30 mb-2 lg:mb-8l">
              welcome to <span class="font-bold lg:font-extrabold">circle</span>
            </div>
            <div class="text-gray-500 dark:text-gray-400 font-normal lg:text-center text-lg lg:text-2xl xl:px-32 mb-8">
             Generate circle for your NFT Holders
            </div>
            <div class="flex w-full items-center justify-center">
              <!-- <button @click="this.loginWeb3Modal()" type="button" class="text-white bg-blue-500 hover:bg-blue-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700">Try Our BETA</button> -->
              <button @click="goToUrl('https://twitter.com/tuah_io')" type="button" class="text-white bg-blue-500 hover:text-white hover:bg-blue/90 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-2 mb-2">
                <svg class="mr-2 -ml-1 w-4 h-4" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M459.4 151.7c.325 4.548 .325 9.097 .325 13.65 0 138.7-105.6 298.6-298.6 298.6-59.45 0-114.7-17.22-161.1-47.11 8.447 .974 16.57 1.299 25.34 1.299 49.06 0 94.21-16.57 130.3-44.83-46.13-.975-84.79-31.19-98.11-72.77 6.498 .974 12.99 1.624 19.82 1.624 9.421 0 18.84-1.3 27.61-3.573-48.08-9.747-84.14-51.98-84.14-102.1v-1.299c13.97 7.797 30.21 12.67 47.43 13.32-28.26-18.84-46.78-51.01-46.78-87.39 0-19.49 5.197-37.36 14.29-52.95 51.65 63.67 129.3 105.3 216.4 109.8-1.624-7.797-2.599-15.92-2.599-24.04 0-57.83 46.78-104.9 104.9-104.9 30.21 0 57.5 12.67 76.67 33.14 23.72-4.548 46.46-13.32 66.6-25.34-7.798 24.37-24.37 44.83-46.13 57.83 21.12-2.273 41.58-8.122 60.43-16.24-14.29 20.79-32.16 39.31-52.63 54.25z"></path></svg>
                Follow @tuah_io
              </button>
            </div>
          </div>
        </div>
        <div class="max-w-7xl rounded-2xl mx-auto bg-slate-200 py-8 sm:px-6 lg:px-8">
          <div class="flex justify-center items-center">
            <div class="text-gray-900 font-medium text-xl">
              Supported Marketplace
            </div>
            <!-- <div>
              <a href="#"><div class="text-md text-sky-500 hover:text-sky-600">Browse all</div></a>
            </div> -->
          </div>
          <div class="flex justify-center items-center mt-8">
            <a target="_blank" href="https://pentas.io"><img class="w-48 mr-12" src="https://tuah-bucket.sgp1.digitaloceanspaces.com/images/pentas-logo.png" /></a>
            <!-- <img class="w-48 ml-12" src="https://tuah-bucket.sgp1.digitaloceanspaces.com/images/opensea-logo.png" /> -->
          </div>
        </div>
        <!-- <div class="bg-slate-300 mt-10">
          <div class="max-w-7xl mx-auto py-5 sm:px-6 lg:px-8 flex justify-center items-center -mt-8">
            <img class="w-full" src="https://envoyer.io/img/marketing/screenshot.png" />
          </div>
        </div> -->
        <div id="features" class="max-w-7xl mx-auto py-8 sm:px-6 lg:px-8">
          <div class="flex justify-center items-center">
            <div class="text-gray-900 font-medium text-xl">
              Features
            </div>
            <!-- <div>
              <a href="#"><div class="text-md text-sky-500 hover:text-sky-600">Browse all</div></a>
            </div> -->
          </div>
          <div class="flex justify-center items-center mt-2">
            <div>
              <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <!-- <div class="lg:text-center">
                  <p class="max-w-2xl text-md text-gray-500 lg:mx-auto">
                    Lorem ipsum dolor sit amet consect adipisicing elit. Possimus magnam voluptatum cupiditate veritatis in accusamus quisquam.
                  </p>
                </div> -->

                <div class="mt-10">
                  <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
                    <div v-for="feature in features" :key="feature.name" class="relative">
                      <dt>
                        <div class="absolute flex items-center justify-center h-12 w-12 rounded-md bg-blue-500 text-white">
                          <component :is="feature.icon" class="h-6 w-6" aria-hidden="true" />
                        </div>
                        <p class="ml-16 text-lg leading-6 font-medium text-gray-900">{{ feature.name }}</p>
                      </dt>
                      <dd class="mt-2 ml-16 text-base text-gray-500">
                        {{ feature.description }}
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="faq" class="max-w-7xl rounded-2xl mx-auto bg-slate-200 py-8 sm:px-6 lg:px-8">
          <div class="flex justify-center items-center">
            <div class="text-gray-900 font-medium text-xl">
              FAQ
            </div>
            <!-- <div>
              <a href="#"><div class="text-md text-sky-500 hover:text-sky-600">Browse all</div></a>
            </div> -->
          </div>
          <div class="mt-8">
            <div v-for="(item, index) in faqs" :key="index" x-data={show:false} class="rounded-md bg-white mb-2">
              <div x-on:click.prevent="show=!show" class="border-0 px-6 py-4 cursor-pointer" id="headingOne">
                  <button class="flex w-full justify-between items-center hover text-md text-left font-bold text-blue-500 hover:text-blue-700 focus:outline-none" type="button">
                  {{ item?.title  }}
                  <svg x-show="!show" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                  </svg>
                  <svg x-show="show" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
                  </svg>
                  </button>
              </div>
              <div x-show="show" v-html="item?.content" class="border-0 px-6 pb-2"></div>
            </div>
          </div>
        </div>
      </div>
    </app-layout>
</template>

<script>
    import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import JetApplicationLogo from '@/Jetstream/ApplicationLogo.vue'
    import VideoCardItem from '@/Jetstream/VideoCardItem.vue'
    import 'vue3-carousel/dist/carousel.css';
    import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
    import { AnnotationIcon, GlobeAltIcon, LightningBoltIcon, ScaleIcon } from '@heroicons/vue/outline'

    const features = [
      {
        name: 'Create Giveaway',
        description:
          'Create and organize your own NFT giveaway and reward your token holders',
        icon: GlobeAltIcon,
      },
      {
        name: 'Create Campaign',
        description:
          'Create and organize your own NFT crowd-funding campaign and track the collected funds in real-time',
        icon: ScaleIcon,
      },
      {
        name: 'One-click Redemption',
        description:
          'Makes the process flawless and hassle-free with easy one-click redemption button on rewards',
        icon: LightningBoltIcon,
      },
      {
        name: 'Email Notification',
        description:
          'This feature facilitates a seamless process and improves communication performance',
        icon: AnnotationIcon,
      },
    ]

    const faqs = [
      { id: 1, title: "What is TUAH.IO?", content: "<span class='font-bold'>TUAH.IO (tuah.io)</span> is a Web3 platform that is specifically built for NFT creators to manage their minted NFTs in one place." },
      { id: 2, title: "Is this a NFT marketplace platform?", content: "No. We are not a NFT marketplace." },
      { id: 3, title: "What is the objective of this platform?", content: "We are commited to serve the NFT community and provide them a platform that can be used as one-stop-centre to manage their NFTs. Aside from minting and purchasing, creators can also organize a variety of events for their holders such as giveaway, crowd-funding campaign, and more." },
      { id: 4, title: "Free or Paid platform?", content: "It's totally free to use. But we do welcome everyone to support our development team by donating us <a class='text-blue-500 font-bold cursor-pointer' target='_blank' href='https://www.buymeacoffee.com/tuah'>here</a>" },
      { id: 5, title: "Linking to existing NFT marketplaces?", content: "Yes. We do have linking feature. As of now, we only support linking with <span class='text-blue-500 font-bold'>Pentas.io</span> marketplace." },
      { id: 6, title: "I would like to give a feedback", content: "Any suggestions or thoughts on how to improve this platform will be much appreciated. Please contact us at <a class='text-blue-500 font-bold' target='_blank' href='mailto:mytuah.io@gmail.com'>mytuah.io@gmail.com</a> or send a direct message on Twitter <a class='text-blue-500 font-bold' target='_blank' href='https://twitter.com/tuah_io'>@tuah_io</a>" },
    ]

    export default defineComponent({
        components: {
            AppLayout,
            JetApplicationLogo,
            VideoCardItem,
            Carousel,
            Slide,
            Pagination,
            Navigation,
        },

        data() {
          return {
            features,
            faqs,
            selectedFaqs: []
          }
        },  

        methods: {
          onClickFaq(id) {
            let arr = this.selectedFaqs;
            if(arr.includes(id)){
                arr.splice(arr.indexOf(id), 1);
                return;
                console.log("check arr ===> ", arr)
           }
            arr.push(id);
            this.selectedFaqs = arr
            console.log("check arr ===> ", arr)
          },
          nothingHappen() {
              alert("We are currently running in BETA mode and only available for selected creators. Please DM us on twitter @tuah_io for more info. Thanks!")
          },

          goToUrl(url) {
            window.location.href = url
          }
        },

        computed: {
            // nama() {
            //     return store.state.nama
            // },
            // count() {
            //   return store.getters.nftsCount
            // },
            // nfts() {
            //   return store.getters.nfts
            // },
            // shows() {
            //   return store.getters.shows
            // }
        },

        created() {
          // store.dispatch('getShows');
          // store.dispatch('getNfts', { walletAddress: "0xcfeb26e1e5ef9b62dce2801cae037331418eddaa" });
        }
    })
</script>
