<template>
    <app-layout title="Create NFT">
        <!-- <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Create Gift
            </h2>
        </template> -->

        <div class="py-6">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            	<!-- <div class="max-w-2xl mx-auto">
	            	<a :href="route('gifts')">
	                  <div class="mb-6 btn">Back</div>
	                </a>
	            </div> -->
                <div class="max-w-2xl mx-auto bg-white shadow-lg rounded-lg p-6">
			        <jet-validation-errors class="mb-4" />

			        <form @submit.prevent="submit" enctype="multipart/form-data">
			            <div>
			                <jet-label for="title" value="Title" />
			                <jet-input id="title" type="text" class="mt-1 block w-full" v-model="this.form.title" required autofocus autocomplete="title" />
			            </div>

			            <div class="mt-4">
			                <jet-label for="remark" value="Description (optional)" />
			                <jet-input id="remark" type="text" class="mt-1 block w-full" v-model="this.form.remark" />
			            </div>

                  <div class="mt-4">
                      <div class="flex justify-between items-center">
                        <jet-label for="assigned_nfts" value="NFTs" />
                        <div v-if="this.$page.props.nft_collections?.length > 0" class="flex justify-between items-center">
                          <!-- <a class="mr-4 text-sm cursor-pointer text-blue-500 hover:text-blue-600" v-on:click="loadAllNfts()">Load All</a> -->
                          <a v-if="this.form.assigned_nfts?.length !== this.$page.props.nft_collections?.length" class="text-sm cursor-pointer text-blue-500 hover:text-blue-600" v-on:click="onSelectAllNfts(this.$page.props.nft_collections?.map(nft => nft.id))">Select All ({{ this.$page.props.nft_collections?.length }})</a> 
                          <a v-else class="text-sm cursor-pointer text-blue-500 hover:text-blue-600" v-on:click="onSelectAllNfts([])">Unselect All ({{ this.$page.props.nft_collections?.length }})</a>
                        </div>
                        <div v-else>
                          <span class="text-sm">No NFT in your gallery.</span>
                          <a class="mr-4 text-sm cursor-pointer text-blue-500 hover:text-blue-600" :href="route('createNftCollections')" target="_blank"> Add NFT</a>
                        </div>
                      </div>
                      <select v-show="this.$page.props.nft_collections?.length > 0"  @change="onSelectGift" v-bind:value="this.form.assigned_nfts" id="assigned_nfts" :class="this.form.assigned_nfts === 0 ? `text-gray-400` : null" class="block mt-1 w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm cursor-pointer" name="assigned_nfts" v-model="this.form.assigned_nfts" required multiple>
                        <option v-for="nft in this.$page.props.nft_collections" :key="nft.id" v-bind:value="nft.id">{{ nft.title }}</option>
                      </select>
                  </div>

			            <div class="flex items-center justify-end mt-4">
			                <jet-button class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
			                    Save
			                </jet-button>
			            </div>
			        </form>
			    </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import Welcome from '@/Jetstream/Welcome.vue'
    import JetAuthenticationCard from '@/Jetstream/AuthenticationCard.vue'
    import JetAuthenticationCardLogo from '@/Jetstream/AuthenticationCardLogo.vue'
    import JetButton from '@/Jetstream/Button.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetCheckbox from '@/Jetstream/Checkbox.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import JetValidationErrors from '@/Jetstream/ValidationErrors.vue'
    import { Head, Link } from '@inertiajs/inertia-vue3';
    import store from '../../store';

    export default defineComponent({
        components: {
            AppLayout,
            Welcome,
            Head,
            JetAuthenticationCard,
            JetAuthenticationCardLogo,
            JetButton,
            JetInput,
            JetCheckbox,
            JetLabel,
            JetValidationErrors,
            Link,
        },
        data() {
          return {
          	form: this.$inertia.form({
                title: '',
                remark: '',
                amount: 0,
                currency: 1,
                external_url: "",
                marketplace_url: "",
                poster: '',
                assigned_nfts: [],
            }),
          }
        },
        computed: {
          nfts() {
            return store.getters.nfts
          }
        },
        created() {
          // this.genres = JSON.parse(JSON.stringify(this.$page.props.genres))
          console.log(" JSON.parse(JSON.stringify(this.$page.props))",  JSON.parse(JSON.stringify(this.$page.props)))

          store.dispatch('getNfts', { eth_address: "0x494fED3a0cCE62501D65C60f67e57E53e16368B6" })
        },
        methods: {
          onVideoChange(e) {
              let files = e.target.files || e.dataTransfer.files;
              if (!files.length)
                  return;
              this.createVideo(files[0]);
          },
          onImageChange(e) {
              let files = e.target.files || e.dataTransfer.files;
              if (!files.length)
                  return;
              this.createImage(files[0]);
          },
          createImage(file) {
              let reader = new FileReader();
              let vm = this;
              reader.onload = (e) => {
                  vm.form.poster = e.target.result;
              };
              reader.readAsDataURL(file);
          },
          createVideo(file) {
              let reader = new FileReader();
              let vm = this;
              reader.onload = (e) => {
                  vm.form.transcode_media = e.target.result;
              };
              reader.readAsDataURL(file);
          },
          onSelectGenre(event) {
            console.log("check onSelectGenre ===> ", event.target.value)
            this.form.genre = parseInt(event.target.value)
          },
          submit() {
          	console.log("check form value ===> ", JSON.parse(JSON.stringify(this.form)))
              this.form.post(this.route('storeNftCollectionGroup'), {
                  // onFinish: () => this.$inertia.visit(route('users'))
              })
          },
          onSelectAllGifts(gift_ids) {
            console.log("check onSelectAllGifts ===> ", gift_ids)
            this.form.event_gifts = gift_ids
          },  
          onSelectAllNfts(nfts_ids) {
            console.log("check onSelectAllNfts ===> ", nfts_ids)
            this.form.assigned_nfts = nfts_ids
          }, 
          onChangeType(event) {
            this.form.type = parseInt(event.target.id)
            console.log("Check onChangeType ===> ", event.target.value)
          },
        }
    })
</script>
