<template>
    <app-layout :title="this.$page.props.nft_collection_group?.title">
        <!-- <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Edit Gift
            </h2>
        </template> -->

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            	<div class="max-w-2xl mx-auto">
	            	<a :href="route('nft_collection_groups')">
                  <div class="mb-6 btn">Back</div>
                </a>
								<a :href="route('editNftCollectionGroup', this.$page.props.nft_collection_group?.id)">
                  <div class="mb-6 ml-2 btn">Edit</div>
                </a>
	            </div>
                <div class="max-w-2xl mx-auto bg-white shadow-lg rounded-lg p-10">
			        <jet-validation-errors class="mb-4" />

			        <form @submit.prevent="submit" enctype="multipart/form-data">
			            <div>
			                <jet-label for="title" value="Title" />
			                <jet-input disabled id="title" type="text" class="text-gray-400 mt-1 block w-full" v-model="this.form.title" required autofocus autocomplete="title" />
			            </div>

			            <div class="mt-4">
			                <jet-label for="remark" value="Description" />
			                <jet-input disabled id="remark" type="text" class="text-gray-400 mt-1 block w-full" v-model="this.form.remark" required />
			            </div>

									<div class="mt-4">
											<div class="flex justify-between items-center">
													<jet-label for="assigned_nfts" value="NFTs" />
													<div v-show="this.$page.props.nft_collections?.length === 0">
														<span class="text-sm">No Assigned NFTs</span>
													</div>
											</div>
											<select v-show="this.$page.props.nft_collections?.length > 0"  @change="onSelectGift" v-bind:value="this.form.assigned_nfts" id="assigned_nfts" :class="this.form.assigned_nfts === 0 ? `text-gray-400` : null" class="block mt-1 w-full border-gray-300 text-gray-400 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm cursor-pointer" name="assigned_nfts" v-model="this.form.assigned_nfts" required multiple>
													<option v-for="nft in this.$page.props.nft_collections" :key="nft.id" v-bind:value="nft.id">{{ nft.title }}</option>
											</select>
									</div>
			        </form>
			    </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import Welcome from '@/Jetstream/Welcome.vue'
    import JetAuthenticationCard from '@/Jetstream/AuthenticationCard.vue'
    import JetAuthenticationCardLogo from '@/Jetstream/AuthenticationCardLogo.vue'
    import JetButton from '@/Jetstream/Button.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetCheckbox from '@/Jetstream/Checkbox.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import JetValidationErrors from '@/Jetstream/ValidationErrors.vue'
    import { Head, Link } from '@inertiajs/inertia-vue3';
    import store from '../../store';

    export default defineComponent({
        components: {
            AppLayout,
            Welcome,
            Head,
            JetAuthenticationCard,
            JetAuthenticationCardLogo,
            JetButton,
            JetInput,
            JetCheckbox,
            JetLabel,
            JetValidationErrors,
            Link,
        },
        data() {
          return {
          	form: this.$inertia.form({
                title: this.$page.props.nft_collection_group?.title,
                remark: this.$page.props.nft_collection_group?.remark,
                assigned_nfts: this.$page.props.nft_collections?.map(i => i.id)
            }),
          }
        },
        computed: {
         //
        },
        created() {
          // console.log("checkkkk ===> ", this.$page.props.nft_collection_group?.event_nfts?.map(nft => parseInt(nft?.nft_id)))
          // this.genres = JSON.parse(JSON.stringify(this.$page.props.genres))
          console.log(" JSON.parse(JSON.stringify(this.$page.props))",  JSON.parse(JSON.stringify(this.$page.props)))

          // store.dispatch('getNfts', { eth_address: "0x494fED3a0cCE62501D65C60f67e57E53e16368B6" })
        },
        methods: {
          // onVideoChange(e) {
          //     let files = e.target.files || e.dataTransfer.files;
          //     if (!files.length)
          //         return;
          //     this.createVideo(files[0]);
          // },
          onImageChange(e) {
              let files = e.target.files || e.dataTransfer.files;
              if (!files.length)
                  return;
              this.createImage(files[0]);
          },
          createImage(file) {
              let reader = new FileReader();
              let vm = this;
              reader.onload = (e) => {
                  vm.form.poster = e.target.result;
              };
              reader.readAsDataURL(file);
          },
          // createVideo(file) {
          //     let reader = new FileReader();
          //     let vm = this;
          //     reader.onload = (e) => {
          //         vm.form.transcode_media = e.target.result;
          //     };
          //     reader.readAsDataURL(file);
          // },
          // onSelectGenre(event) {
          //   console.log("check onSelectGenre ===> ", event.target.value)
          //   this.form.genre = parseInt(event.target.value)
          // },
          submit() {
          	console.log("check form value ===> ", JSON.parse(JSON.stringify(this.form)))
              this.form.post(this.route('updateNftCollectionGroup', this.$page.props.nft_collection_group?.id), {
                  // onFinish: () => this.$inertia.visit(route('users'))
              })
          },
          // onSelectAllGifts(gift_ids) {
          //   console.log("check onSelectAllGifts ===> ", gift_ids)
          //   this.form.event_gifts = gift_ids
          // },  
          onSelectAllNfts(nfts_ids) {
            console.log("check onSelectAllNfts ===> ", nfts_ids)
            this.form.assigned_nfts = nfts_ids
          }  
          // onChangeType(event) {
          //   this.form.type = parseInt(event.target.id)
          //   console.log("Check onChangeType ===> ", event.target.value)
          // },
          // addSeason(value) {
          //   this.form.seasons.push({ summary: '', season_number: value })
          // },
          // removeSeason(index) {
          //   this.form.seasons.splice(index, 1)
          // },
        }
    })
</script>
