<template>
    <app-layout title="Profile">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Owned Tokens
            </h2>
        </template>

        <div>
            <div class="max-w-7xl mx-auto py-5 sm:px-6 lg:px-8">
            	<div class="grid grid-cols-3 gap-5">
							  <card-item v-bind:items="nfts" />
							</div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import DeleteUserForm from '@/Pages/Profile/Partials/DeleteUserForm.vue'
    import JetSectionBorder from '@/Jetstream/SectionBorder.vue'
    import LogoutOtherBrowserSessionsForm from '@/Pages/Profile/Partials/LogoutOtherBrowserSessionsForm.vue'
    import TwoFactorAuthenticationForm from '@/Pages/Profile/Partials/TwoFactorAuthenticationForm.vue'
    import UpdatePasswordForm from '@/Pages/Profile/Partials/UpdatePasswordForm.vue'
    import UpdateProfileInformationForm from '@/Pages/Profile/Partials/UpdateProfileInformationForm.vue'
    import CardItem from '@/Jetstream/CardItem.vue'
    import store from '../../store'

    export default defineComponent({
    		data() {
    			return {
    				// nfts: store.state.nfts
    			}
    		},

        props: ['sessions'],

        components: {
            AppLayout,
            DeleteUserForm,
            JetSectionBorder,
            LogoutOtherBrowserSessionsForm,
            TwoFactorAuthenticationForm,
            UpdatePasswordForm,
            UpdateProfileInformationForm,
            CardItem,
        },

        computed: {
        	nfts () {
      			return store.getters.nfts
        	}
        },

        created() {
          store.dispatch('getNfts', { walletAddress: "0xcfeb26e1e5ef9b62dce2801cae037331418eddaa" });
        }
    })
</script>
