<template>
    <app-layout title="Create Show">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Create Show
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            	<div class="max-w-2xl mx-auto">
	            	<a :href="route('genres')">
	                  <div class="mb-6 btn">Back to list</div>
	                </a>
	            </div>
                <div class="max-w-2xl mx-auto bg-white shadow-lg rounded-lg p-10">
			        <jet-validation-errors class="mb-4" />

			        <form @submit.prevent="submit">
			            <div>
			                <jet-label for="label" value="Title" />
			                <jet-input id="label" type="text" class="mt-1 block w-full" v-model="this.form.label" required autofocus autocomplete="label" />
			            </div>

			            <div class="flex items-center justify-end mt-4">
			                <jet-button class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
			                    Create
			                </jet-button>
			            </div>
			        </form>
			    </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import Welcome from '@/Jetstream/Welcome.vue'
    import JetAuthenticationCard from '@/Jetstream/AuthenticationCard.vue'
    import JetAuthenticationCardLogo from '@/Jetstream/AuthenticationCardLogo.vue'
    import JetButton from '@/Jetstream/Button.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetCheckbox from '@/Jetstream/Checkbox.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import JetValidationErrors from '@/Jetstream/ValidationErrors.vue'
    import { Head, Link } from '@inertiajs/inertia-vue3';

    export default defineComponent({
        components: {
            AppLayout,
            Welcome,
            Head,
            JetAuthenticationCard,
            JetAuthenticationCardLogo,
            JetButton,
            JetInput,
            JetCheckbox,
            JetLabel,
            JetValidationErrors,
            Link,
        },
        data() {
          return {
          	form: this.$inertia.form({
                label: '',
            })
          }
        },
        created() {
          // this.genres = JSON.parse(JSON.stringify(this.$page.props.genres))
          // console.log(" JSON.parse(JSON.stringify(this.$page.props.genres))",  JSON.parse(JSON.stringify(this.$page.props.genres)))
        },
        methods: {
          // onSelectGenre(event) {
          //   console.log("check onSelectGenre ===> ", event.target.value)
          //   this.form.genre = parseInt(event.target.value)
          // },
          submit() {
          	console.log("check form value ===> ", JSON.parse(JSON.stringify(this.form)))
              this.form.post(this.route('storeGenre'), {
                  // onFinish: () => this.$inertia.visit(route('users'))
              })
          },
          // addSeason(value) {
          //   this.form.seasons.push({ summary: '', season_number: value })
          // },
          // removeSeason(index) {
          //   this.form.seasons.splice(index, 1)
          // },
        }
    })
</script>
