<template>
    <app-layout title="Genres">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Genres
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div v-if="this.$page.props.flash.message !== null" class="alert mb-6 bg-green-200">
                  {{ this.$page.props.flash.message }}
                </div>
                <a :href="route('shows')">
                  <div class="mb-6 btn">Back to Shows</div>
                </a>
                <a :href="route('createGenre')">
                  <div class="mb-6 ml-2 btn hover:bg-green-700 hover:border-green-700 bg-green-600 border-green-600">Add Genre</div>
                </a>
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <div class="flex flex-col">
                      <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                          <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <table class="min-w-full divide-y divide-gray-200">
                              <thead class="bg-gray-50">
                                <tr>
                                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    ID
                                  </th>
                                  <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Name
                                  </th>
                                  <th scope="col" class="relative px-6 py-3">
                                    <span class="sr-only">Edit</span>
                                  </th>
                                </tr>
                              </thead>
                              <tbody class="bg-white divide-y divide-gray-200">
                                <tr v-for="genre in JSON.parse(JSON.stringify(this.$page.props.genres))">
                                  <td class="px-6 py-4 whitespace-nowrap">
                                    {{ genre?.id }}
                                  </td>
                                  <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm font-medium text-gray-900">
                                      {{ genre?.label }}
                                    </div>
                                  </td>
                                  <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                    <a :href="route('showGenre', genre?.id)" class="text-blue-600 hover:text-blue-900 mr-4">View</a>
                                    <a :href="route('editGenre', genre?.id)" class="text-indigo-600 hover:text-indigo-900 mr-4">Edit</a>
                                    <a @click="onDelete(genre?.id)" href="#" class="text-red-600 hover:text-red-900">Delete</a>
                                  </td>
                                </tr>

                                <!-- More people... -->
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import { defineComponent } from 'vue'
    import AppLayout from '@/Layouts/AppLayout.vue'
    import Welcome from '@/Jetstream/Welcome.vue'
    import axios from 'axios'

    export default defineComponent({
        components: {
            AppLayout,
            Welcome,
        },
        data() {
          return {
            // genres: []
          }
        },
        created() {
          // this.genres = JSON.parse(JSON.stringify(this.$page.props.genres))
          console.log("check props ===> ", JSON.parse(JSON.stringify(this.$page.props)))
        },
        methods: {
          onDelete(id) {
            if (confirm('Are you sure you want to delete this record?')) {
              this.$inertia.delete(`/genres/${id}`);
            } else {
              //
            }
          }
        }
    })
</script>
