<template>
	<div v-for="item in items" class="max-w-sm rounded overflow-hidden shadow-lg">
		<a :href="route('singleToken', { id: item.scTokenId })">
			<img v-if="item.mimeType.includes('image')" class="aspect-square" v-bind:src="item.contentUrl" v-bind:alt="item.name">
			<Video v-else v-bind:src="item.contentUrl" class="object-cover aspect-square" autoplay loop muted />
		  <div class="px-6 py-4">
		    <div class="font-bold text-xl mb-2 line-clamp-1">{{ item.name }}</div>
		    <p class="text-gray-700 text-base">
		      You holding this token for 20 days
		    </p>
		  </div>
		</a>
	</div>
</template>

<script>
  import { defineComponent } from 'vue'

  export default defineComponent({
  	props: ['items'],

  	methods: {
  		//
  	}
  })
</script>
