<template>
	<div v-for="item in items" :key="item.id" class="max-w-sm rounded overflow-hidden">
	  <img v-if="item.mimeType.includes('image')" class="aspect-video" v-bind:src="item.contentUrl" v-bind:alt="item.name">
	  <Video v-else v-bind:src="item.contentUrl" class="object-cover aspect-video" autoplay loop muted />
	  <div class="px-0 py-4">
	    <div class="font-bold text-xl mb-2 line-clamp-1">Episode 1</div>
	    <p class="pb-2 text-gray-400 text-sm">
	      <b>25:34 duration</b>
	    </p>
	    <p class="text-gray-700 text-base line-clamp-3" style="height: 72px;">
	      {{ item.description }}
	    </p>
	  </div>
	  <div class="relative bottom-0 py-4">
	    <a href="#" class="flex justify-center px-4 py-2 rounded bg-sky-500 hover:bg-sky-600 text-neutral-100 hover:text-neutral-100"><b>Watch</b></a>
	  </div>
	</div>
</template>

<script>
  import { defineComponent } from 'vue'

  export default defineComponent({
  	props: ['items'],

  	methods: {
  		//
  	}
  })
</script>
