<template>
    <div>
        <Head :title="title" />

        <jet-banner />

        <div class="min-h-screen bg-gray-100">
            <Disclosure as="nav" class="bg-white dark:bg-slate-800" v-slot="{ open }">
                <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
                    <div class="relative flex items-center justify-between h-16">
                        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                        <!-- Mobile menu button-->
                        <DisclosureButton class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 dark:hover:text-white dark:hover:bg-gray-700">
                            <span class="sr-only">Open main menu</span>
                            <MenuIcon v-if="!open" class="block h-8 w-8" aria-hidden="true" />
                            <XIcon v-else class="block h-8 w-8" aria-hidden="true" />
                        </DisclosureButton>
                        </div>
                        <div class="flex-1 flex items-center justify-center">
                            <div class="flex-shrink-0 flex items-center">
                                <img class="dark:hidden h-6 w-auto sm:h-8" src="https://tuah-bucket.sgp1.digitaloceanspaces.com/images/logo-tuah-io.png" alt="tuah.io">
                                <img class="hidden dark:block h-6 w-auto sm:h-8" src="https://tuah-bucket.sgp1.digitaloceanspaces.com/images/logo-tuah-io-white.png" alt="tuah.io">
                                <!-- <img class="block lg:hidden h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg" alt="Workflow" />
                                <img class="hidden lg:block h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-logo-indigo-500-mark-white-text.svg" alt="Workflow" /> -->
                            </div>
                            <div class="hidden w-full sm:block sm:ml-6">
                                <div class="flex w-full justify-center space-x-8">
                                    <div v-for="(item, itemIndex) in menuItems" :key="itemIndex">
                                        <a v-if="item?.id !== 3" :href="`${item?.href}`" class="text-base font-medium text-slate-700 hover:text-slate-900">
                                            {{ item?.name }}
                                        </a>
                                        <a v-else @click="onClickDonate" class="text-base font-medium text-slate-700 hover:text-slate-900 cursor-pointer">
                                            {{ item?.name }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                            <Menu v-if="this.$page.props.user" as="div" class="relative inline-block text-left">
                                <!-- Desktop  -->
                                <div class="hidden md:flex justify-center flex-1 space-x-10">
                                    <MenuButton class="text-white bg-slate-700 hover:text-white hover:bg-slate/90 font-medium rounded-lg text-sm px-4 py-2 text-center inline-flex items-center cursor-pointer">
                                        {{ $page.props.user.eth_address.length > 12 ? $page.props.user.eth_address.substring(0, 6) + '...' + $page.props.user.eth_address.substring($page.props.user.eth_address.length - 4, $page.props.user.eth_address.length)  : $page.props.user.eth_address }} <svg class="w-6 h-6 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
                                    </MenuButton>
                                </div>
                                <!-- Mobile -->
                                <div class="md:hidden justify-center flex-1 space-x-10">
                                    <MenuButton class="p-0 flex text-sm rounded-full">
                                        <span class="sr-only">Open user menu</span>
                                        <img class="h-10 w-10 rounded-full" :src="this.$page.props.user?.stream_path" alt="" />
                                    </MenuButton>
                                </div>

                                <transition enter-active-class="transition ease-out duration-100" enter-from-class="transform opacity-0 scale-95" enter-to-class="transform opacity-100 scale-100" leave-active-class="transition ease-in duration-75" leave-from-class="transform opacity-100 scale-100" leave-to-class="transform opacity-0 scale-95">
                                <MenuItems class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none divide-y divide-gray-100 z-50">
                                    <div class="py-1">
                                    <MenuItem v-slot="{ active }">
                                        <a :href="route('dashboard')" :class="[active ? 'bg-gray-100 text-gray-900' : 'text-gray-700', 'block px-4 py-2 text-sm']">Dashboard</a>
                                    </MenuItem>
                                    <MenuItem v-slot="{ active }">
                                        <a :href="route('editProfile')" :class="[active ? 'bg-gray-100 text-gray-900' : 'text-gray-700', 'block px-4 py-2 text-sm']">Edit Profile</a>
                                    </MenuItem>
                                        <form method="POST" @submit.prevent="logout" action="#" role="none">
                                            <MenuItem v-slot="{ active }">
                                            <button type="submit" :class="[active ? 'bg-gray-100 text-gray-900' : 'text-gray-700', 'block w-full text-left px-4 py-2 text-sm']">
                                                Sign out
                                            </button>
                                            </MenuItem>
                                        </form>
                                    </div>
                                </MenuItems>
                                </transition>
                            </Menu>
                            <div v-else>
                                <!-- Desktop -->
                                <div class="hidden md:flex items-center justify-end">
                                    <a v-show="!hideConnectWallet" @click="loginWeb3Modal" class="text-white bg-slate-700 hover:text-white hover:bg-slate/90 focus:ring-4 focus:ring-slate/50 font-medium rounded-lg text-sm px-4 py-2 text-center inline-flex items-center dark:focus:ring-slate/55 cursor-pointer">
                                        <img src="https://raw.githubusercontent.com/MetaMask/brand-resources/c3c894bb8c460a2e9f47c07f6ef32e234190a7aa/SVG/metamask-fox.svg" class="w-6 h-6 mr-2" />
                                        Connect Wallet
                                    </a>
                                </div>
                                <!-- Mobile -->
                                <div class="md:hidden">
                                    <a v-show="!hideConnectWallet" @click="loginWeb3Modal" class="text-white bg-slate-200 hover:text-white hover:bg-slate/90 focus:ring-4 focus:ring-slate/50 font-medium rounded-full text-sm p-2 text-center inline-flex items-center dark:focus:ring-slate/55 cursor-pointer">
                                        <img src="https://raw.githubusercontent.com/MetaMask/brand-resources/c3c894bb8c460a2e9f47c07f6ef32e234190a7aa/SVG/metamask-fox.svg" class="w-6 h-6" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <DisclosurePanel class="sm:hidden">
                    <div class="px-2 pt-2 pb-3 space-y-1">
                        <div v-for="(item, index) in menuItems" :key="index">
                            <DisclosureButton v-if="item?.id !== 3" as="a" :href="item.href" :class="[item.current ? 'text-slate-900 dark:bg-gray-900 dark:text-white text-slate-900' : 'dark:text-gray-300 text-slate-900 dark:hover:bg-gray-700 dark:hover:text-white', 'block px-3 py-2 rounded-md text-base font-medium']" :aria-current="item.current ? 'page' : undefined">{{ item.name }}</DisclosureButton>
                            <DisclosureButton v-else as="a" @click="onClickDonate" :class="[item.current ? 'text-slate-900 dark:bg-gray-900 dark:text-white text-slate-900' : 'dark:text-gray-300 text-slate-900 dark:hover:bg-gray-700 dark:hover:text-white', 'block px-3 py-2 rounded-md text-base font-medium']" :aria-current="item.current ? 'page' : undefined">{{ item.name }}</DisclosureButton>
                        </div>
                    </div>
                </DisclosurePanel>
            </Disclosure>

            <!-- Page Heading -->
            <header class="bg-white shadow" v-show="!hideTitle"> <!--  v-if="$slots.header"> -->
                <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                    <slot name="header">
                        <div>
                            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                                {{ this.$page.props.breadcrumbs.find(i => i.is_current_page === true)?.title }}
                            </h2>
                            <nav v-show="this.$page.props.breadcrumbs?.length > 1" class="flex mt-2" aria-label="Breadcrumb">
                                <ol class="inline-flex items-center space-x-1 md:space-x-3">
                                    <li v-for="(breadcrumb, breadcrumb_index) in this.$page.props.breadcrumbs" :key="breadcrumb.id"  v-bind:aria-current="breadcrumb?.is_current_page ? 'page' : null"  class="inline-flex items-center">
                                        <a :href="breadcrumb?.url" class="inline-flex items-center text-sm text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                                            <svg v-show="breadcrumb_index > 0" class="w-5 h-5 mr-2 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                                            {{ breadcrumb?.title }}
                                        </a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </slot>
                </div>
            </header>

            <!-- Page Content -->
            <main class="pb-10">
                <slot></slot>
                <!-- Donate Modal -->
                <div
                class="hidden overflow-y-auto bg-slate-900 bg-opacity-75 overflow-x-hidden fixed right-0 left-0 top-0 pt-4 h-full z-50 justify-center items-center md:inset-0 h-modal sm:h-full"
                id="donate-popup-modal"
                >
                    <div class="relative px-4 w-full max-w-md h-full md:h-auto">
                        <!-- Modal content -->
                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                            <div class="flex justify-end p-2">
                                <button
                                :disabled="loading"
                                type="button"
                                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
                                data-modal-toggle="donate-popup-modal"
                                >
                                <svg
                                    class="w-5 h-5"
                                    fill="currentColor"
                                    viewBox="0 0 20 20"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                    fill-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    clip-rule="evenodd"
                                    ></path>
                                </svg>
                                </button>
                            </div>
                            <div class="px-6 pb-6 space-y-4">
                                <div class="text-md font-medium text-gray-600 dark:text-white">
                                    Donate Us!
                                </div>
                                
                                <div class="rounded-lg bg-orange-500 p-6">
                                    <a href="https://www.buymeacoffee.com/tuah" target="_blank">
                                        <div class="font-bold text-white">SEND US COFFEE</div>
                                        <div class="font-bold text-white">Stripe Payment</div>
                                        <div class="text-sm font-medium text-white">Click here to proceed</div>
                                    </a>    
                                </div>
                                
                                <div class="rounded-lg bg-slate-500 p-6">
                                    <a href="https://bscscan.com/address/0x7f0432ef6E3742c4406737aB66A6FeD46371b223" target="_blank">
                                        <div class="font-bold text-white">SEND US CRYPTO</div>
                                        <div class="flex items-center">
                                            <div class="text-white">0x7f04...b223</div>
                                        </div>
                                        <div class="text-sm font-medium text-white">Click here to copy address</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- User Create Confirmation Modal -->
                <div
                class="hidden overflow-y-auto bg-slate-900 bg-opacity-75 overflow-x-hidden fixed right-0 left-0 top-0 pt-4 h-full z-50 justify-center items-center md:inset-0 h-modal sm:h-full"
                id="user-confirmation-popup-modal"
                >
                <div class="relative px-4 w-full max-w-md h-full md:h-auto">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                        <div class="flex justify-end p-2">
                            <button
                            :disabled="loading"
                            type="button"
                            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
                            data-modal-toggle="user-confirmation-popup-modal"
                            >
                            <svg
                                class="w-5 h-5"
                                fill="currentColor"
                                viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                fill-rule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clip-rule="evenodd"
                                ></path>
                            </svg>
                            </button>
                        </div>
                        <div class="px-6 pb-4 space-y-6 lg:px-8 sm:pb-6 xl:pb-8">
                            <div class="text-md font-medium text-gray-600 dark:text-white">
                            Fill up the required details to proceed
                            </div>
                            <div>
                            <label
                                for="name"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                                >Name</label
                            >
                            <input
                                v-model="this.name"
                                type="text"
                                name="name"
                                id="name"
                                placeholder="John Doe"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                required
                            />
                            </div>
                            <div>
                            <label
                                for="email"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                                >Email</label
                            >
                            <input
                                v-model="this.email"
                                type="email"
                                name="email"
                                id="email"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                placeholder="johndoe@company.com"
                                required
                            />
                            </div>
                            <div>
                            <label
                                for="subdomain"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                                >Subdomain</label
                            >
                            <input
                                v-model="this.subdomain"
                                type="text"
                                name="subdomain"
                                id="subdomain"
                                placeholder="johndoe"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                                required
                            />
                            </div>
                            <!-- <div class="flex justify-between">
                                <a href="#" class="text-sm text-blue-700 hover:underline dark:text-blue-500">Why we ask these information?</a>
                            </div> -->
                            <button
                            @click="onSubmitUser"
                            type="submit"
                            :disabled="loading"
                            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                            >
                            <div class="flex justify-center items-center" >
                                <svg v-show="loading" class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                                </svg>
                                <span v-if="!loading">Create</span>
                                <span v-else>Creating...</span>
                            </div>
                            </button>
                        </div>
                    </div>
                </div>
                </div>
            </main>
        </div>
        <div class="bg-slate-800">
            <div class="py-8 px-4 sm:px-6 lg:px-8 max-w-7xl mx-auto text-center">
                <div class="text-gray-200">Copyright © TUAH IO</div>
                <div class="text-sm text-gray-400">Made with ♥ in Cyberjaya</div>
            </div>
        </div>
    </div>
</template>

<script>
    import { defineComponent } from 'vue'
    import JetApplicationMark from '@/Jetstream/ApplicationMark.vue'
    import JetBanner from '@/Jetstream/Banner.vue'
    import JetDropdown from '@/Jetstream/Dropdown.vue'
    import JetDropdownLink from '@/Jetstream/DropdownLink.vue'
    import JetNavLink from '@/Jetstream/NavLink.vue'
    import JetButton from '@/Jetstream/Button.vue'
    import JetResponsiveNavLink from '@/Jetstream/ResponsiveNavLink.vue'
    import { Head, Link, useForm } from '@inertiajs/inertia-vue3';
    // import { observer } from "mobx-vue";
    // import Store from "../../../store";
    import store from '../store';
    import Web3 from 'web3/dist/web3.min.js'
    import Web3Modal from "web3modal";
    import WalletConnectProvider from "@walletconnect/web3-provider";
    import axios from 'axios';
    import { Disclosure, DisclosureButton, DisclosurePanel, Menu, MenuButton, MenuItem, MenuItems } from '@headlessui/vue'
    // import { ChevronDownIcon } from '@heroicons/vue/solid'
    import { BellIcon, MenuIcon, XIcon } from '@heroicons/vue/outline'

    const menuItems = [
        { id: 1, name: "Features", href: "/#features", current: false },
        { id: 2, name: "FAQ", href: "/#faq", current: false },
        { id: 3, name: "Donate", href: "/#donate", current: false }
    ]

    export default defineComponent({
        props: {
            title: String,
            hide: Boolean,
            hideTitle: Boolean,
            hideConnectWallet: Boolean,
            // loginWeb3Modal: Function,
        },

        components: {
            Head,
            JetApplicationMark,
            JetBanner,
            JetButton,
            JetDropdown,
            JetDropdownLink,
            JetNavLink,
            JetResponsiveNavLink,
            Link,
            Menu,
            MenuButton,
            MenuItem,
            MenuItems,
            Disclosure,
            DisclosureButton,
            DisclosurePanel,
            BellIcon,
            MenuIcon,
            XIcon
            // ChevronDownIcon,
        },

        computed: {
        //   nftsCount() {
        //     return store.getters.nftsCount
        //   },
        },

        data() {
            return {
                menuItems,
                nama: store.state.nama,
                nfts: store.state.nfts,
                // store: new Store(),
                showingNavigationDropdown: false,
                openMobile: false,
                isNetworkValid: true,
                showDropdown: false,
                loading: false,
                name: '',
                email: '',
                subdomain: '',
                savedEthAddress: '',
                savedSign: '',
                savedSignMessage: '',
            }
        },

        created() {

        },

        mounted() {
            this.checkNetwork();
            // window.ethereum.on('networkChanged', function(newChainId) {
            //     console.log('networkChanged',newChainId, newChainId === 56);
            //     window.addEventListener('change', this.checkNetwork);
            // });
        },  

        methods: {
            onClickDonate() {
                console.log("checkkkkk onClickDonate")
                toggleModal('donate-popup-modal', true)
            },
            switchToTeam(team) {
                this.$inertia.put(route('current-team.update'), {
                    'team_id': team.id
                }, {
                    preserveState: false
                })
            },

            logout() {
                this.$inertia.post(route('logout'));
            },

            toggleOpenMobileMenu() {
                console.log("checkkkk ===> ", this.openMobile)
                this.openMobile = !this.openMobile
            },

            // resources/js/Pages/Auth/Login.vue
            async loginWeb3() {
              if (! window.ethereum) {
                  alert('MetaMask not detected. Please try again from a MetaMask enabled browser.')
              }

              const web3 = new Web3(window.ethereum);

              const message = [
                  "I have read and accept the terms and conditions (https://tuah.io/terms) of this app.",
                  "Please sign me in!"
              ].join("\n")

              const address = (await web3.eth.requestAccounts())[0]
              const signature = await web3.eth.personal.sign(message, address)
              console.log("check address ===> ", address)

              // store.updateWalletAddress(address)

              return useForm({ message, address, signature }).post('/login-web3')
            },

            async metamaskInstalled() {
                // if (typeof web3 !== 'undefined') {
                //     // Use Mist/MetaMask's provider.
                //     web3js = new Web3(web3.currentProvider);
                //     return true;
                // } else {
                //     return false;
                //     // Handle the case where the user doesn't have web3. Probably 
                //     // show them a message telling them to install Metamask in 
                //     // order to use the app.
                // }

                // if (window.ethereum) {
                //     await window.ethereum.send('eth_requestAccounts');
                //     window.web3 = new Web3(window.ethereum);
                //     return true;
                // }
                // return false;

                if (typeof web3 !== 'undefined') {
                    console.log('web3 is enabled')
                    if (web3.currentProvider.isMetaMask === true) {
                    console.log('MetaMask is active')
                    } else {
                    console.log('MetaMask is not available')
                    }
                } else {
                    console.log('web3 is not found')
                }
            },

            async checkNetwork() {
                const web3 = new Web3(window.ethereum); 
                const networkType = await web3.eth.net.getNetworkType()
                const chainId = await web3.eth.net.getId() // require 56 BSC Network
                this.isNetworkValid = chainId === 56
                console.log("checkNetwork ===> ", chainId === 56)
                window.ethereum.on('chainChanged', (newChainId) => {
                    console.log('networkChanged', web3.utils.hexToNumber(newChainId), web3.utils.hexToNumber(newChainId) === 56);
                    this.isNetworkValid = web3.utils.hexToNumber(newChainId) === 56
                })
            },

            nothingHappen() {
                alert("We are currently running in BETA mode and only available for selected creators. Please DM us on twitter @tuah_io for more info. Thanks!")
            },

            async loginWeb3Modal() {
                if (typeof web3 !== 'undefined') {
                    console.log('web3 is enabled')
                    if (web3.currentProvider.isMetaMask === true) {
                        const web3 = new Web3(window.ethereum); 
                        const networkType = await web3.eth.net.getNetworkType()
                        const chainId = await web3.eth.net.getId() // require 56 BSC Network
                        console.log("network type ===> ", networkType)
                        console.log("chain id ===> ", chainId)
                        if (chainId !== 56) {
                            alert('Please change to BSC network')
                        } else {
                            // await window.ethereum.send('eth_requestAccounts');
                            const eth_address = (await web3.eth.requestAccounts())[0]
                            const message = [
                                eth_address,
                                'https://tuah.io'
                            ].join("\n")
                            const signature = await web3.eth.personal.sign(message, eth_address)
                            const url = "/api/verify_user";
                            const data = { message, eth_address, signature };
                            axios.post(url, data)
                            .then((response) => {
                                console.log("Check response loginweb3 ===> ", response);
                                if (response.data.status === 1) {
                                    // this.$inertia.reload({ only: ['user'] })
                                    window.location = '/dashboard'
                                } else {
                                    this.savedEthAddress = eth_address
                                    this.savedSign = signature
                                    this.savedSignMessage = message
                                    toggleModal('user-confirmation-popup-modal', true);
                                    // alert(response.data.message)
                                }
                            })
                            .catch((error) => {
                                console.log("Check error loginweb3 ===> ", error);
                            })
                            // return useForm({ message, eth_address, signature }).post('/login-web3')
                        }
                    } else {
                        alert("Please install MetaMask extension to proceed");
                    }
                } else {
                    alert("Please use Chrome browser or install MetaMask app and use their in-app browser to proceed");
                }


                // if (!this.metamaskInstalled) {
                //     alert("Please install MetaMask to use this dApp");
                // } else {
                //     const web3 = new Web3(window.ethereum); 
                //     const networkType = await web3.eth.net.getNetworkType()
                //     const chainId = await web3.eth.net.getId() // require 56 BSC Network
                //     console.log("network type ===> ", networkType)
                //     console.log("chain id ===> ", chainId)
                //     if (chainId !== 56) {
                //         alert('Please change to BSC network')
                //     } else {
                //         // await window.ethereum.send('eth_requestAccounts');
                //         const eth_address = (await web3.eth.requestAccounts())[0]
                //         const message = [
                //             eth_address,
                //             'https://tuah.io'
                //         ].join("\n")
                //         const signature = await web3.eth.personal.sign(message, eth_address)
                //         const url = "/api/verify_user";
                //         const data = { message, eth_address, signature };
                //         axios.post(url, data)
                //         .then((response) => {
                //             console.log("Check response loginweb3 ===> ", response);
                //             if (response.data.status === 1) {
                //                 // this.$inertia.reload({ only: ['user'] })
                //                 window.location = '/dashboard'
                //             } else {
                //                 this.savedEthAddress = eth_address
                //                 this.savedSign = signature
                //                 this.savedSignMessage = message
                //                 toggleModal('user-confirmation-popup-modal', true);
                //                 // alert(response.data.message)
                //             }
                //         })
                //         .catch((error) => {
                //             console.log("Check error loginweb3 ===> ", error);
                //         })
                //         // return useForm({ message, eth_address, signature }).post('/login-web3')
                //     }
                // }
                // try {
                //     const providerOptions = {
                //         walletconnect: {
                //             package: WalletConnectProvider,
                //             options: {
                //                 rpc: {
                //                     56: 'https://bsc-dataseed.binance.org/'
                //                 },
                //                 network: 'binance',
                //                 infuraId: '33d9a850f21c4f52ab231f04c7bc08d3'
                //             }
                //         }
                //     };
                //     const web3Modal = new Web3Modal({
                //         // network: 'binance',
                //         cacheProvider: false,
                //         providerOptions: providerOptions,
                //         disableInjectedProvider: false,
                //     });
                //     web3Modal.clearCachedProvider();
                //     const provider = await web3Modal.connect();
                    
                //      // Subscribe to accounts change
                //     provider.on("accountsChanged", (accounts) => {
                //         // fetchAccountData();
                //         console.log("check accountsChanged ===> ", accounts)
                //     });

                //     // Subscribe to chainId change
                //     provider.on("chainChanged", (chainId) => {
                //         // fetchAccountData();
                //         console.log("check chainChanged ===> ", chainId)
                //     });
                    
                //     provider.on("connect", (chainId) => {
                //         // fetchAccountData();
                //         console.log("check connect ===> ", chainId)
                //     });

                //     // Subscribe to networkId change
                //     provider.on("networkChanged", (networkId) => {
                //         console.log("check networkChanged ===> ", networkId)
                //     });
                // } catch(e) {
                //     console.log("Could not get a wallet connection", e);
                //     return;
                // }
            },

            onClickAddress() {
                this.showDropdown = !this.showDropdown
            },

            onSubmitUser() {
                this.loading = true
                const url = "/api/create_user"
                const data = {
                    name: this.name,
                    email: this.email,
                    subdomain: this.subdomain,
                    eth_address: this.savedEthAddress,
                    signature: this.savedSign,
                    message: this.savedSignMessage,
                }
                axios.post(url, data)
                .then((response) => {
                    console.log("check response onsubmituser ===> ", response)
                    if (response.data.errorCode) {
                        this.loading = false
                        toggleModal('user-confirmation-popup-modal', false);
                        alert(response.data.errorMessage)
                    } else {
                        setTimeout(() => {
                            this.loading = false
                            toggleModal('user-confirmation-popup-modal', false);
                            // this.$inertia.reload({ only: ['user'] })
                            window.location = '/dashboard'
                        }, 3000)
                    }
                })
                .catch((error) => {
                    this.loading = false
                    console.log("check onsubmituser error ===> ", error)
                })
            },
        },
    })
</script>