<template>
    <div>
        <Head :title="title" />

        <jet-banner />

        <div class="min-h-screen bg-gray-100">
            <nav class="bg-white border-b border-gray-100">
                <!-- Primary Navigation Menu -->
                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                    <div class="flex justify-between h-16">
                        <div class="flex">
                            <!-- Logo -->
                            <div class="shrink-0 flex items-center">
                                <Link :href="route('dashboard')">
                                    <jet-application-mark class="block h-9 w-auto" />
                                </Link>
                            </div>

                            <!-- Navigation Links -->
                            <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
                                <jet-nav-link :href="route('home')" :active="route().current('home')">
                                    Home
                                </jet-nav-link>
                                 <jet-nav-link :href="route('episodes')" :active="route().current('episodes')">
                                    Episodes
                                </jet-nav-link>
                                <jet-nav-link :href="route('tokens')" :active="route().current('tokens') || route().current('singleToken')">
                                    Buy Token
                                </jet-nav-link>
                                <jet-nav-link v-if="$page.props.user?.permission.includes('user_access')" :href="route('users')" :active="route().current('users')">
                                    Users
                                </jet-nav-link>
                                <jet-nav-link v-if="$page.props.user?.permission.includes('user_access')" :href="route('movies')" :active="route().current('movies')">
                                    Movies
                                </jet-nav-link>
                                <jet-nav-link v-if="$page.props.user?.permission.includes('user_access')" :href="route('shows')" :active="route().current('shows')">
                                    Shows
                                </jet-nav-link>
                                <jet-nav-link v-if="$page.props.user?.permission.includes('user_access')" :href="route('rewards')" :active="route().current('rewards')">
                                    Rewards
                                </jet-nav-link>
                                <!-- <jet-nav-link :href="route('dashboard')" :active="route().current('dashboard')">
                                    FAQ
                                </jet-nav-link> -->
                            </div>
                        </div>  

                        <div class="hidden sm:flex sm:items-center sm:ml-6">
                          <div v-if="$page.props.user">  
                            <div  class="ml-3 relative">
                                <!-- Teams Dropdown -->
                                <jet-dropdown align="right" width="60" v-if="$page.props.jetstream.hasTeamFeatures">
                                    <template #trigger>
                                        <span class="inline-flex rounded-md">
                                            <button type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 bg-white hover:bg-gray-50 hover:text-gray-700 focus:outline-none focus:bg-gray-50 active:bg-gray-50 transition">
                                                {{ $page.props.user.current_team.name }}

                                                <svg class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
                                                </svg>
                                            </button>
                                        </span>
                                    </template>

                                    <template #content>
                                        <div class="w-60">
                                            <!-- Team Management -->
                                            <template v-if="$page.props.jetstream.hasTeamFeatures">
                                                <div class="block px-4 py-2 text-xs text-gray-400">
                                                    Manage Team
                                                </div>

                                                <!-- Team Settings -->
                                                <jet-dropdown-link :href="route('teams.show', $page.props.user.current_team)">
                                                    Team Settings
                                                </jet-dropdown-link>

                                                <jet-dropdown-link :href="route('teams.create')" v-if="$page.props.jetstream.canCreateTeams">
                                                    Create New Team
                                                </jet-dropdown-link>

                                                <div class="border-t border-gray-100"></div>

                                                <!-- Team Switcher -->
                                                <div class="block px-4 py-2 text-xs text-gray-400">
                                                    Switch Teams
                                                </div>

                                                <template v-for="team in $page.props.user.all_teams" :key="team.id">
                                                    <form @submit.prevent="switchToTeam(team)">
                                                        <jet-dropdown-link as="button">
                                                            <div class="flex items-center">
                                                                <svg v-if="team.id == $page.props.user.current_team_id" class="mr-2 h-5 w-5 text-green-400" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                                                                <div>{{ team.name }}</div>
                                                            </div>
                                                        </jet-dropdown-link>
                                                    </form>
                                                </template>
                                            </template>
                                        </div>
                                    </template>
                                </jet-dropdown>
                            </div>

                            <!-- Settings Dropdown -->
                            <div class="ml-3 relative">
                                <jet-dropdown align="right" width="48">
                                    <template #trigger>
                                        <button v-if="$page.props.jetstream.managesProfilePhotos" class="flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition">
                                            <img class="h-8 w-8 rounded-full object-cover" :src="$page.props.user.profile_photo_url" :alt="$page.props.user.name" />
                                        </button>

                                        <span v-else class="inline-flex rounded-md">
                                            <button type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 bg-white hover:text-gray-700 focus:outline-none transition">
                                                {{ $page.props.user.eth_address.length > 12 ? $page.props.user.eth_address.substring(0, 6) + '.....' + $page.props.user.eth_address.substring($page.props.user.eth_address.length - 6, $page.props.user.eth_address.length)  : $page.props.user.eth_address }}

                                                <svg class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                                </svg>
                                            </button>
                                        </span>
                                    </template>

                                    <template #content>
                                        <!-- Account Management -->
                                        <div class="block px-4 py-2 text-sm text-gray-400">
                                            Manage Account
                                        </div>

                                        <jet-dropdown-link :href="route('dashboard')">
                                            Claimed Rewards ({{ nftsCount / 3 }})
                                        </jet-dropdown-link>

                                        <jet-dropdown-link :href="route('dashboard')">
                                            Owned Tokens ({{ nftsCount }})
                                        </jet-dropdown-link>

                                        <jet-dropdown-link :href="route('profile.show')">
                                            Profile
                                        </jet-dropdown-link>

                                        <jet-dropdown-link :href="route('api-tokens.index')" v-if="$page.props.jetstream.hasApiFeatures">
                                            API Tokens
                                        </jet-dropdown-link>

                                        <div class="border-t border-gray-100"></div>

                                        <!-- Authentication -->
                                        <form @submit.prevent="logout">
                                            <jet-dropdown-link as="button">
                                                Log Out
                                            </jet-dropdown-link>
                                        </form>
                                    </template>
                                </jet-dropdown>
                            </div>
                          </div>

                          <div v-else-if="$page.props.user === null">
                            <div class="ml-3 relative">
                                <div align="right" width="48">
                                    <span class="inline-flex rounded-md">
                                        <a href="#" @click="loginWeb3Modal" class="flex justify-center items-center px-2 py-1 bg-gray-800 border border-transparent rounded-md font-bold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition p-0">
                                            <img src="https://raw.githubusercontent.com/MetaMask/brand-resources/c3c894bb8c460a2e9f47c07f6ef32e234190a7aa/SVG/metamask-fox.svg" class="w-7 h-7 mr-2" />
                                            Connect Wallet
                                        </a>
                                    </span>
                                </div>
                            </div>
                          </div>
                        </div>

                        <!-- Hamburger -->
                        <div class="-mr-2 flex items-center sm:hidden">
                            <button @click="loginWeb3Modal" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-none focus:text-gray-500 transition">
                                <span class="flex justify-center items-center px-2 py-1 bg-gray-800 border border-transparent rounded-md font-bold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition p-0">
                                <img src="https://raw.githubusercontent.com/MetaMask/brand-resources/c3c894bb8c460a2e9f47c07f6ef32e234190a7aa/SVG/metamask-fox.svg" class="w-7 h-7" />
                            </span>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Responsive Navigation Menu -->
                <div :class="{'hidden': showingNavigationDropdown, 'hidden': ! showingNavigationDropdown}" class="sm:hidden">
                    <div class="pt-2 pb-3 space-y-1">
                        <jet-responsive-nav-link :href="route('dashboard')" :active="route().current('dashboard')">
                            Dashboard
                        </jet-responsive-nav-link>
                    </div>

                    <!-- Responsive Settings Options -->
                    <div v-if="$page.props.user" class="pt-4 pb-1 border-t border-gray-200">
                        <div class="flex items-center px-4">
                            <div v-if="$page.props.jetstream.managesProfilePhotos" class="shrink-0 mr-3" >
                                <img class="h-10 w-10 rounded-full object-cover" :src="$page.props.user.profile_photo_url" :alt="$page.props.user.name" />
                            </div>

                            <div>
                                <div class="font-medium text-base text-gray-800">{{ $page.props.user.name }}</div>
                                <div class="font-medium text-sm text-gray-500">{{ $page.props.user.email }}</div>
                            </div>
                        </div>

                        <div class="mt-3 space-y-1">
                            <jet-responsive-nav-link :href="route('profile.show')" :active="route().current('profile.show')">
                                Profile
                            </jet-responsive-nav-link>

                            <jet-responsive-nav-link :href="route('api-tokens.index')" :active="route().current('api-tokens.index')" v-if="$page.props.jetstream.hasApiFeatures">
                                API Tokens
                            </jet-responsive-nav-link>

                            <!-- Authentication -->
                            <form method="POST" @submit.prevent="logout">
                                <jet-responsive-nav-link as="button">
                                    Log Out
                                </jet-responsive-nav-link>
                            </form>

                            <!-- Team Management -->
                            <template v-if="$page.props.jetstream.hasTeamFeatures">
                                <div class="border-t border-gray-200"></div>

                                <div class="block px-4 py-2 text-xs text-gray-400">
                                    Manage Team
                                </div>

                                <!-- Team Settings -->
                                <jet-responsive-nav-link :href="route('teams.show', $page.props.user.current_team)" :active="route().current('teams.show')">
                                    Team Settings
                                </jet-responsive-nav-link>

                                <jet-responsive-nav-link :href="route('teams.create')" :active="route().current('teams.create')" v-if="$page.props.jetstream.canCreateTeams">
                                    Create New Team
                                </jet-responsive-nav-link>

                                <div class="border-t border-gray-200"></div>

                                <!-- Team Switcher -->
                                <div class="block px-4 py-2 text-xs text-gray-400">
                                    Switch Teams
                                </div>

                                <template v-for="team in $page.props.user.all_teams" :key="team.id">
                                    <form @submit.prevent="switchToTeam(team)">
                                        <jet-responsive-nav-link as="button">
                                            <div class="flex items-center">
                                                <svg v-if="team.id == $page.props.user.current_team_id" class="mr-2 h-5 w-5 text-green-400" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                                                <div>{{ team.name }}</div>
                                            </div>
                                        </jet-responsive-nav-link>
                                    </form>
                                </template>
                            </template>
                        </div>
                    </div>
                </div>
            </nav>

            <!-- Page Heading -->
            <header class="bg-white shadow" v-if="$slots.header">
                <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                    <slot name="header"></slot>
                </div>
            </header>

            <!-- Page Content -->
            <main>
                <slot></slot>
            </main>
        </div>
    </div>
</template>

<script>
    import { defineComponent } from 'vue'
    import JetApplicationMark from '@/Jetstream/ApplicationMark.vue'
    import JetBanner from '@/Jetstream/Banner.vue'
    import JetDropdown from '@/Jetstream/Dropdown.vue'
    import JetDropdownLink from '@/Jetstream/DropdownLink.vue'
    import JetNavLink from '@/Jetstream/NavLink.vue'
    import JetButton from '@/Jetstream/Button.vue'
    import JetResponsiveNavLink from '@/Jetstream/ResponsiveNavLink.vue'
    import { Head, Link, useForm } from '@inertiajs/inertia-vue3';
    // import { observer } from "mobx-vue";
    // import Store from "../../../store";
    import store from '../store';
    import Web3 from 'web3/dist/web3.min.js'
    import Web3Modal from "web3modal";
    import WalletConnectProvider from "@walletconnect/web3-provider";

    export default defineComponent({
        props: {
            title: String,
        },

        components: {
            Head,
            JetApplicationMark,
            JetBanner,
            JetButton,
            JetDropdown,
            JetDropdownLink,
            JetNavLink,
            JetResponsiveNavLink,
            Link,
        },

        computed: {
          nftsCount() {
            return store.getters.nftsCount
          }
        },

        data() {
            return {
                nama: store.state.nama,
                nfts: store.state.nfts,
                // store: new Store(),
                showingNavigationDropdown: false,
            }
        },

        methods: {
            switchToTeam(team) {
                this.$inertia.put(route('current-team.update'), {
                    'team_id': team.id
                }, {
                    preserveState: false
                })
            },

            logout() {
                this.$inertia.post(route('logout'));
            },

            // resources/js/Pages/Auth/Login.vue
            async loginWeb3() {
              if (! window.ethereum) {
                  alert('MetaMask not detected. Please try again from a MetaMask enabled browser.')
              }

              const web3 = new Web3(window.ethereum);

              const message = [
                  "I have read and accept the terms and conditions (https://example.org/tos) of this app.",
                  "Please sign me in!"
              ].join("\n")

              const address = (await web3.eth.requestAccounts())[0]
              const signature = await web3.eth.personal.sign(message, address)
              console.log("check address ===> ", address)

              // store.updateWalletAddress(address)

              return useForm({ message, address, signature }).post('/login-web3')
            },

            async loginWeb3Modal() {
                console.log("haaa")
                const providerOptions = {
                    walletconnect: {
                        package: WalletConnectProvider,
                        options: {
                            // rpc: {
                            //     56: 'https://bsc-dataseed.binance.org/'
                            // },
                            // network: 'binance',
                            infuraId: '33d9a850f21c4f52ab231f04c7bc08d3'
                        }
                    }
                };
                const web3Modal = new Web3Modal({
                    // network: 'binance',
                    cacheProvider: false,
                    providerOptions: providerOptions,
                    disableInjectedProvider: false,
                });
                web3Modal.clearCachedProvider();
                await web3Modal.connect();



                // const provider = new WalletConnectProvider({
                //     infuraId: '33d9a850f21c4f52ab231f04c7bc08d3', // replace infuraId
                // });
                // await provider.enable();
                // const web3 = new providers.Web3Provider(provider);
                // const signer = web3.getSigner();
                // const signature = await signer.signMessage('Hello World');
                // console.log('ok')
                // console.log(signature);
                // const providerOptions = {
                //     walletconnect: {
                //         package: WalletConnectProvider,
                //         options: {
                //         rpc: {
                //             56: 'https://bsc-dataseed.binance.org/'
                //         },
                //         network: 'binance',
                //         }
                //     }
                // };

                // const message = [
                //     "I have read and accept the terms and conditions (https://example.org/tos) of this app.",
                //     "Please sign me in!"
                // ].join("\n")
                // const web3Modal = new Web3Modal({
                //     cacheProvider: true, // optional
                //     providerOptions // required
                // });

                // const provider = await web3Modal.connect();
                // const web3 = new Web3(provider);
                // // const signedMessage = await web3.eth.sign(message);
                
                // const address = (await web3.eth.requestAccounts())[0]
                // const signature = await web3.eth.personal.sign(message, address)
                // console.log("check address ===> ", address)
                // Subscribe to provider connection
                // provider.on("connect", (info) => {
                //     console.log(info);
                // });
                // return useForm({ message, address, signature }).post('/login-web3')
                // let rawMessage = "Hello World";
                // let rawMessageLength = new Blob([rawMessage]).size
                // let combined = web3.utils.stringToHex(`${rawMessageLength}${rawMessage}`)
                // let message = web3.utils.toUtf8("\x1ereum Signed Message:\n" + combined)
                // message = web3.utils.keccak256(message)
                // let params = [
                //     address,
                //     message
                // ]
                // web3.signature = await web3.wc.connector.signMessage(params);
                // web3.verified = web3.eth.utils.verifyMessage(rawMessage, web3.signature);
            }
        },

        // created() {
          //
        // }

        // computed: {
        //   nama() {
        //     return store.state.nama
        //   },
        //   nfts() {
        //     return store.state.nfts
        //   }
        // },

        // computed: {
          // ...mapState({
          //   fullName: 'fullName'
          // })
        // },
    })
</script>
